/* stylelint-disable */

.-d\:{display: var(--d) !important;}
.-d\:n{display: none !important;}
.-d\:b{display: block !important;}
.-d\:f{display: flex !important;}
.-d\:g{display: grid !important;}
.-d\:i{ display: inline !important; }
.-d\:if{ display: inline-flex !important; }
.-d\:ig{ display: inline-grid !important; }
.-d\:ib{ display: inline-block !important; }
