// .-bg\: {
// 	background: var(--bg);
// }
// .-bg\:n {
// 	background: none;
// }

// background-clip: text;は -webkit- いるのでユーティリティクラスを用意。
:where(.-bgcp\:tx) {
	color: transparent;
}
.-bgcp\:tx {
	-webkit-background-clip: text;
	background-clip: text;
}

// bgcp:bb, bgcp:pb, bgcp:cb, bgcp:nc

// ------------------------------
// グラデーション
// ------------------------------
:root {
	// --grad-- はグラデーションの色部分だけを指定するための変数
	--grad--toBlack: transparent, rgb(0 0 0 / 50%) 60%, rgba(0 0 0 / 90%) 100%;
}
// .-gradient\:blackToBottom {
// 	background-image: linear-gradient(to bottom, var(--grad--toBlack));
// }
