// has--border?
// bdc だけとかの指定でも -bd:出力？
/*
	borderはかなり特殊。
	--bds, --bdw, --bdc で管理できるようにしていて、そのために基本的に .-bd: クラスを使う。
	各方向も、 -bd:left, -bd:right など。　( -bd: で全方向。)

	.-bd:{preset}: 方向 or ボーダー用のセマンティックプリセット。

	まず bd を指定してもらう。
	bdc, bdw などを追加で指定。

*/

// hasBorder?
// .has--bd {
// 	--bds: solid;
// 	--bdw: 1px;
// 	--bdc: currentColor; //var(--base-3);
// 	--bd: var(--bdw) var(--bds) var(--bdc);
// }

// .-bd\:→all

// bdc, bdw などでカラーや太さを上書きできるように border 自体を変数管理

// :where( .-bd\:, .-bdl\:, .-bdr\:, .-bdt\:, .-bdb\:, .-bdx\:, .-bdy\:, .-bdis\:, .-bdbs\:, .-bdie\:, .-bdbe\: )
:root {
	--bds--default: solid;
	--bdw--default: 1px;
	--bdc--default: currentColor; //var(--base-3);
}
// :root, .has--bd,
:where([class*='-bd:']) {
	--bds: var(--bds--default);
	--bdw: var(--bdw--default);
	--bdc: var(--bdc--default);
	--bd: var(--bdw) var(--bds) var(--bdc);
}

// 使用される環境（resetCSS）によって挙動が変わりやすいので 各プロパティを変数で管理する。
// ブラウザのデフォルト挙動では、bds指定でborder出現してくるが、nextraのresetCSSみたいな特殊な環境だとbdwの指定でborderでてきたりする。
// .-bd\:a,

// .has--bd:not([class*='-bd:'])
.-bd\: {
	// --bd: var(--bdw) var(--bds) var(--bdc);
	border: var(--bd);
}

// .has--bd .-bd:

// .has--bd .-bdl: .-bdr:

// .has--bd .-bd:l .-bd:r
// --------------------
// bd:presets
// --------------------
.-bd\:n {
	border: none;
}
.-bd\:emphasis {
	--bds: double;
	--bdw: 5px;
	border: var(--bd);
	// border: 5px double currentColor;
}
.-bd\:guide {
	--bds: dashed;
	--bdc: hsl(var(--hsl-gray) / 0.25);
	border: var(--bd);
	// border: 1px dashed rgba(160, 160, 160, 0.4);
}

// style固定での初期プリセット的なやつ?
// .-bd\:solid{--bd: 1px solid var(--c--border)}
// .-bd\:dashed{--bd: 1px dashed var(--c--border)}

// --------------------
// 方向指定
// --------------------

// 方向を分けて使用する場合、 bdw, bdc, bds と併用してもらう？
// bd='l', bd='l,r',bd='t,b',...コンマ区切り→成分指定

// 一方向のみborderを出現させたい時
.-bd\:l {
	border-left: var(--bd);
}
.-bd\:r {
	border-right: var(--bd);
}
.-bd\:t {
	border-top: var(--bd);
}
.-bd\:b {
	border-bottom: var(--bd);
}
// .-bd\:x {
// 	border-inline: var(--bd);
// }
// .-bd\:y {
// 	border-block: var(--bd);
// }
.-bd\:is {
	border-inline-start: var(--bd);
}
.-bd\:ie {
	border-inline-end: var(--bd);
}
.-bd\:bs {
	border-block-start: var(--bd);
}
.-bd\:be {
	border-block-end: var(--bd);
}

// bd, bdl, bdr,...
// .-bdl{}
// .-bdl {
// 	border-left: var(--bd);
// }
// .-bdl\: {
// 	border-left: var(--bdl);
// }
// .-bdr\:{border-right: var(--bdr);}
// .-bdt\:{border-top: var(--bdt);}
// .-bdb\:{border-bottom: var(--bdb);}

// .-bdl\:n {
// 	border-left: none;
// }
// .-bdr\:n {
// 	border-right: none;
// }
// .-bdt\:n {
// 	border-top: none;
// }
// .-bdb\:n {
// 	border-bottom: none;
// }
// .-bdis\:n {
// 	border-inline-start: none;
// }
// .-bdbs\:n {
// 	border-block-start: none;
// }

// bdw="1px 1px 0 0" とかでも指定できる
// .-bdw\:{border-width: var(--bdw);}
// .-bdw\:1{--bdw: 1px;}

// thin, medium, thick?
// .-bdw\:medium{--bdw: var(--bdw--medium)}

// .-bdc\:{border-color: var(--bdc);}
