/* stylelint-disable */


// @supports (color: color-mix(in srgb, #000, #fff)) {
// .-c\:mix {
// 	--c-mixbase: var(--c--text);
// 	// --c-mixcolor: var(--keycolor);
// 	--c-mixper: var(--cbox-mixper--txt);
// 	--c: color-mix(in srgb, var(--c-mixbase), var(--c-mixcolor) var(--c-mixper));
// }
// .-bgc\:mix {
// 	--bgc-mixbase: transparent;
// 	// --bgc-mixcolor: var(--keycolor);
// 	--bgc-mixper: var(--cbox-mixper--bg);
// 	--bgc: color-mix(in srgb, var(--bgc-mixbase), var(--bgc-mixcolor) var(--bgc-mixper));
// }
// .-bdc\:mix {
// 	--bdc-mixbase: transparent;
// 	// --bdc-mixcolor: var(--keycolor);
// 	--bdc-mixper: var(--cbox-mixper--bdc);
// 	--bdc: color-mix(in srgb, var(--bdc-mixbase), var(--bdc-mixcolor) var(--bdc-mixper));
// }
