// .-hov\: ユーティリティ

[class*='-hov:'] {
	transition: var(--hov-trsp, all);
	transition-duration: var(--hov-trsdu, 0.3s);
	// transition: all var(--hov-trsdu);
}

// ------------------------------------------------------------
// プリセット
// ------------------------------------------------------------
.-hov\:fade:hover {
	opacity: 0.6;
}
.-hov\:shadow:hover {
	box-shadow: var(--bxsh--4);
}
.-hov\:up:hover {
	translate: 0 -3px;
}
// .-hov\:u:hover {
// 	text-decoration: underline !important;
// }

// ------------------------------------------------------------
// 値指定
// ------------------------------------------------------------
.-hov\:c\::hover {
	color: var(--hov-c) !important;
}
.-hov\:bdc\::hover {
	border-color: var(--hov-bdc) !important;
}
.-hov\:op\::hover {
	opacity: var(--hov-op) !important;
}
.-hov\:bgc\::hover {
	background-color: var(--hov-bgc) !important;
}
.-hov\:bxsh\::hover {
	box-shadow: var(--hov-bxsh);
}
.-hov\:filter\::hover {
	filter: var(--hov-filter) !important;
}

// ------------------------------------------------------------
// hov:media:
// ------------------------------------------------------------

// pass-get/ privide-get/throw-get/parent-child/
.-hov\:pass {
	--isHover: 0;
	// --hovVisible: hidden;
	&:hover {
		--isHover: 1;
		// --hovVisible: visible;
	}
}

.-hov\:get\:show {
	opacity: var(--isHover);
	visibility: hidden;
	.-hov\:pass:hover & {
		visibility: visible;
	}
}
.-hov\:get\:hide {
	opacity: calc(1 - 1 * var(--isHover));
}

// .-hov\:pass のhoverを起点に。
// .-hov\:get\:xxx {
// 	.-hov\:pass:hover & {
// 		xxx: xxx;
// 	}
// }
