/* stylelint-disable */

.-lis\:n{list-style: none;}

.-bxz\:cb{box-sizing: content-box;}
// .-bxz\:bb{box-sizing: border-box;}

// .-filter\:darker{
// 	filter: brightness(0.95);
// }
// .-filter\:lighter{
// 	filter: brightness(1.05);
// }



// prop: ovw
// 単語中でも折り返しさせる
.-ovw\:any{overflow-wrap: anywhere;} // ※ ovw は emmetの正式定義ではない.
// .-wob\:bw{word-break: break-word;} // 非推奨. -ovw:any と同じ


// 折返し禁止
// .i--nowrap,
.-whs\:nw {
	white-space: nowrap;
}
// .-whs\:p{
// 	white-space: pre;
// }
// .-whs\:pw{
// 	white-space: pre-wrap;
// }

// object-fit
.-obf\:cn{
	object-fit: contain;
}
.-obf\:cv{
	object-fit: cover;
}



// --------------------
// その他
// --------------------




// あとでかんがえる
// .-tov\:ell{
// text-overflow: ellipsis;
// }

// writing-mode
// .-wm\:h-tb{
// 	writing-mode: horizontal-tb;
// }
// .-wm\:v-lr{
// 	writing-mode: vertical-lr;
// }
.-wm\:v-rl{
	writing-mode: vertical-rl;
}

