// Note: utility の最初で読み込む ? layout-state?

.-get\:p {
	padding: var(--pass-p);
}
// .-get\:m {
// 	margin: var(--pass-m);
// }
.-get\:gap {
	gap: var(--pass-gap);
}
.-get\:c {
	color: var(--pass-c);
}
.-get\:bgc {
	background-color: var(--pass-bgc);
}
.-get\:bdc {
	--bdc: var(--pass-bdc);
}
// .-get\:bdw {
// 	--bdw: var(--pass-bdw);
// }
// [data-lism-get~='shadow'] {
// 	box-shadow: var(--pass-shadow);
// }
// [data-lism-get~='radius'] {
// 	border-radius: var(--pass-radius);
// }
