// Note: utility の最初で読み込む ? layout-state?
.-get\:c {
	color: var(--pass-c);
}
.-get\:bgc {
	background-color: var(--pass-bgc);
}
.-get\:bdc {
	--bdc: var(--pass-bdc);
}
.-get\:p,
.-pass\:p > * {
	padding: var(--pass-p);
}

.-pass\:minW > * {
	min-width: var(--pass-minW);
}

// .-pass\:minH > * {
// 	min-height: var(--pass-minH);
// }

// .-get\:m {
// 	margin: var(--pass-m);
// }
// .-get\:gap {
// 	gap: var(--pass-gap);
// }

// .-get\:bdw {
// 	--bdw: var(--pass-bdw);
// }
// [data-get-prop~='shadow'] {
// 	box-shadow: var(--pass-shadow);
// }
// [data-get-prop~='radius'] {
// 	border-radius: var(--pass-radius);
// }
