/* stylelint-disable */

// shadow は bg:glass などを踏まえて変数で持つようにしたい
[class*="-bxsh\:"]{
	box-shadow: var(--bxsh);
}

// .-bxsh\: {box-shadow: var(--bxsh);}
.-bxsh\:0{--bxsh: none;}
.-bxsh\:1{--bxsh: var(--sh--1)}
.-bxsh\:2{--bxsh: var(--sh--2)}
.-bxsh\:3{--bxsh: var(--sh--3)}
.-bxsh\:4{--bxsh: var(--sh--4)}
.-bxsh\:5{--bxsh: var(--sh--5)}
.-bxsh\:-1{--bxsh: var(--sh--i1)}
.-bxsh\:-2{--bxsh: var(--sh--i2)}
.-bxsh\:-3{--bxsh: var(--sh--i3)}
