/* stylelint-disable */

// shadow は bg:glass などを踏まえて変数で持つようにしたい
[class*="-bxsh\:"]{
	box-shadow: var(--bxsh);
}

// .-bxsh\: {box-shadow: var(--bxsh);}
.-bxsh\:0{--bxsh: none;}
.-bxsh\:1{--bxsh: var(--bxsh--1)}
.-bxsh\:2{--bxsh: var(--bxsh--2)}
.-bxsh\:3{--bxsh: var(--bxsh--3)}
.-bxsh\:4{--bxsh: var(--bxsh--4)}
.-bxsh\:5{--bxsh: var(--bxsh--5)}
.-bxsh\:-1{--bxsh: var(--bxsh--i1)}
.-bxsh\:-2{--bxsh: var(--bxsh--i2)}
// .-bxsh\:-3{--bxsh: var(--bxsh--i3)}
