@forward './consume';
@forward './colorbox'; // Note: colorより前に読み込む必要あり
@forward './color'; // Note: colorboxより後ろに読み込む必要あり

@forward './auto_output';

@forward './border';
@forward './hover';
// @forward './aspect';
// @forward './display';
// @forward './sizing';
// @forward './typography';
// @forward './gap';
// @forward './grid-props';
// @forward './flex-props';
// @forward './place';
// @forward './margin';
// @forward './padding';
// @forward './radius';
@forward './shadow';
@forward './bg';
@forward './mask';
@forward './transform';
@forward './positions';
@forward './filter';
@forward './others';

// とりあえずいらないか...?
//@forward './lism';

// 複雑なスタイル、一旦直書き。
.-h\:full {
	height: 100vh;
	height: 100dvh;
	// height: calc(100vw - var(--sbar))
}
