---
import DemoPageLayout from '~/layouts/DemoPageLayout.astro';
import {
	Box,
	Container,
	Layer,
	Frame,
	Lism,
	Chat,
	ChatAvatar,
	ChatName,
	ChatContent,
	ChatFooter,
	Spacer,
	Alert,
	Note,
	DecoBox,
} from '@loos/lism-astro';
import { DammyText } from '~/components';

// import './style.scss';
---

<DemoPageLayout>
	<Lism isFlow hasGutter py={50} isContainer='s' alignfull id='demo-wrapper' _dir='rtl'>
		<p>test...</p>

		<Box bgc='blue:40%' c='red:20%' p='box'>
			bgc='blue:40%';<DammyText length='codes' />
		</Box>
		<Box c='green:80%' bd p='box'>
			c='green:80%'<DammyText length='codes' />
		</Box>
		<Box bd boxcolor='blue' p='box'>
			<DammyText length='codes' />
		</Box>
		<Box c='blue:50%' bd p='box'>
			<DammyText length='codes' />
		</Box>
		<Box
			boxcolor='blue'
			c='mix'
			bgc='mix'
			bdc='mix'
			bd
			bdw='4px'
			p='box'
			style={{
				'--bgc-mixper': '8%',
				'--bdc-mixper': '16%',
				'--bgc-mixcolor': 'var(--pink)',
			}}
		>
			<DammyText length='codes' />
		</Box>

		<!--  -->
		<hr />
		<hr />
		<Chat name='Speaker name' avatar='/img/avatar01.jpg' footer='Footer text'>
			<DammyText length='codes' />
		</Chat>
		<Chat name='Name B' avatar='/img/avatar01.jpg' footer='Color:gray' boxcolor='green'>
			<DammyText length='codes' />
		</Chat>
		<Chat direction='end' boxcolor='red' avatar='/img/avatar02.jpg'>
			<DammyText length='xs' lang='ja' />
		</Chat>
		<Chat
			variant='think'
			direction='end'
			boxcolor='blue'
			name='Name B'
			avatar='/img/avatar01.jpg'
		>
			<DammyText length='codes' />
		</Chat>

		<hr />
		<hr />
		<h2>Customize例</h2>
		<hr />
		<Chat avatar='/img/onepiece01_luffy.png' name='ルフィ' contentProps={{ bdrs: 'xl' }}>
			<DammyText length='xs' lang='ja' />
		</Chat>
		<Chat
			direction='end'
			avatar='/img/onepiece01_luffy.png'
			name='ルフィ'
			contentProps={{ bdrs: 'l' }}
		>
			<DammyText length='xs' lang='ja' />
		</Chat>

		<h2>variant='box'</h2>
		<Chat variant='box'>
			<ChatAvatar src='/img/onepiece01_luffy.png' />
			<ChatName>ルフィ</ChatName>
			<ChatContent type='box'>
				<DammyText length='m' lang='ja' />
			</ChatContent>
		</Chat>
		<Chat variant='box' direction='end'>
			<ChatAvatar src='/img/onepiece06_chopper.png' />
			<ChatName>チョッパー</ChatName>
			<ChatContent type='box' direction='end' bdrs='m'>
				<DammyText length='m' lang='ja' />
			</ChatContent>
		</Chat>
	</Lism>
</DemoPageLayout>
