---
import DemoPageLayout from '~/layouts/DemoPageLayout.astro';
import {
	AttsLabels,
	TipCode,
	GutterGuide,
	WideContent,
	FullwideContent,
	Overwide,
	LoremContent,
} from '../container/components.js';
import { Lism, Box, Container, Layer, Frame, Spacer, Text } from '@lism-ui/astro';
import '../container/style.scss';
---

<DemoPageLayout>
	<Lism id='demo-wrapper' isFlow py={50} p='1px'>
		<h2>コンテンツサイズ</h2>
		<Container>
			<Lism w='xl' bd boxcolor='red'>width: xl</Lism>
			<Lism w='l' bd boxcolor='orange'>width: l</Lism>
			<Lism w='m' bd boxcolor='green'>width: m</Lism>
			<Lism w='s' bd boxcolor='purple'>width: s</Lism>
			<Lism w='xs' bd boxcolor='blue'>width: xs</Lism>
		</Container>

		<h2>is--wide</h2>
		<p>親のコンテナ幅によってかわります。</p>
		<Spacer h='5' />

		<Container size='s' isFlow='s' hasGutter>
			<AttsLabels atts='is--container,-container:s' />
			<LoremContent />
			<WideContent />
			<GutterGuide />
		</Container>
		<Container size='m' isFlow='s' hasGutter>
			<AttsLabels atts='is--container,-container:m' />
			<LoremContent />
			<LoremContent />
			<WideContent />
			<GutterGuide />
		</Container>
		<Container size='l' isFlow='s' hasGutter>
			<AttsLabels atts='is--container,-container:l' />
			<LoremContent />
			<LoremContent />
			<WideContent />
			<GutterGuide />
		</Container>

		<h2>is--fullwide</h2>
		<p>is--fullwide は、親が has--gutter を持っていても全幅に広がります。</p>
		<Spacer h='5' />
		<Container size='m' hasGutter isFlow='s'>
			<AttsLabels atts='is--container,-container:m,has--gutter' />
			<LoremContent />
			<FullwideContent />
			<LoremContent />
			<GutterGuide />
		</Container>

		<h2>is--overwide</h2>
		<p>
			<code>@propetry</code>
			が有効なブラウザでは、直前のコンテナ要素が呼び出された位置を基準としたコンテナ幅（100cqw）まで広がります。
		</p>
		<Spacer h='5' />

		<Container size='m' isFlow='s' hasGutter>
			<AttsLabels atts='is--container,-container:m' />
			<LoremContent />
			<FullwideContent />
			<Overwide />

			<Spacer h='5' />

			<Container px='20' isFlow='s'>
				<AttsLabels atts='is--container' />
				<FullwideContent />
				<Overwide />
				<Spacer h='5' />
				<Container px='20' isFlow='s'>
					<AttsLabels atts='is--container' />
					<FullwideContent />
					<Overwide />
				</Container>
			</Container>

			<Spacer h='40' />

			<Box px='20' bd isFlow='s'>
				<AttsLabels atts='div' />
				<Overwide />
				<Spacer h='5' />
				<Box px='20' bd isFlow='s'>
					<AttsLabels atts='div' />
					<Overwide />
				</Box>
			</Box>

			<GutterGuide />

			<LoremContent />
		</Container>

		<Spacer h='5' />

		<Box isFlow='s' hasGutter>
			<AttsLabels atts='div' />
			<Container maxW='s' isFlow='s'>
				<AttsLabels atts='is--container.-maxW:' />
				<LoremContent />
				<FullwideContent />
				<Overwide />
				<Spacer h='5' />
			</Container>
			<GutterGuide />
		</Box>
	</Lism>
	<Spacer h='50' />
</DemoPageLayout>
