// .-lis\:n{list-style: none;}

// あとでかんがえる
// .-tov\:ell{text-overflow: ellipsis;}

// .-iis\:0{inset-inline-start: 0;}
// .-iis\:100\%{inset-inline-start:100%;}
// .-iie\:0{inset-inline-end: 0;}
// .-iie\:100\%{inset-inline-end:100%;}
// .-ibs\:0{inset-block-start: 0;}
// .-ibs\:100{inset-block-start:100%;}
// .-ibe\:0{inset-block-end: 0;}
// .-ibe\:100{inset-block-end:100%;}
