// c='(.*):(.+)%' で使用箇所検索
.-c\:mix {
	--c1: currentColor;
	--c2: transparent;
	--c: color-mix(in srgb, var(--c1) var(--c-pct, 50%), var(--c2));
}
.-bgc\:mix {
	--bgc1: currentColor;
	--bgc2: transparent;
	--bgc: color-mix(in srgb, var(--bgc1) var(--bgc-pct, 50%), var(--bgc2));
}
.-bdc\:mix {
	--bdc1: currentColor;
	--bdc2: transparent;
	--bdc: color-mix(in srgb, var(--bdc1) var(--bdc-pct, 50%), var(--bdc2));
}
