// .-hov\: ユーティリティ
// [class*='-hov:'] {
// 	transition-property: var(--hov-trsp, all);
// 	transition-duration: var(--hov-trsdu, 0.3s);
// 	// transition: all var(--hov-trsdu);
// }

// :where(:any-link, :enabled, summary)

.-hov\:pass {
	--isHov: 0;
}

@media (any-hover: hover) {
	// ------------------------------------------------------------
	// プリセット
	// ------------------------------------------------------------
	.-hov\:fade:hover {
		opacity: 0.7;
	}
	// .-hov\:shadow:hover {
	// 	box-shadow: var(--bxsh--4);
	// }
	// .-hov\:up:hover {
	// 	translate: 0 -3px;
	// }
	// .-hov\:u:hover {
	// 	text-decoration: underline !important;
	// }

	// ------------------------------------------------------------
	// 値指定
	// ------------------------------------------------------------
	.-hov\:c\::hover {
		color: var(--hov-c) !important;
	}
	.-hov\:bdc\::hover {
		border-color: var(--hov-bdc) !important;
	}
	.-hov\:op\::hover {
		opacity: var(--hov-op) !important;
	}
	.-hov\:bgc\::hover {
		background-color: var(--hov-bgc) !important;
	}
	.-hov\:bxsh\::hover {
		box-shadow: var(--hov-bxsh);
	}
	// .-hov\:filter\::hover {
	// 	filter: var(--hov-filter) !important;
	// }
	.-hov\:pass:hover {
		--isHov: 1;
		--isHovVisible: visible;
	}
}

// ------------------------------------------------------------
// .-hov\:get
// ------------------------------------------------------------

.-hov\:get\:hide {
	opacity: calc(1 - 1 * var(--isHov));
}

.-hov\:get\:show {
	opacity: var(--isHov);
	visibility: var(--isHovVisible, hidden);
}

// .-hov\:pass のhoverを起点に。
// .-hov\:get\:xxx {
// 	.-hov\:pass:hover & {
// 		xxx: xxx;
// 	}
// }

// ---
