@use '../query' as query;

// @bp系のクラスなしでクエリ対応可能な 特殊な変数
@layer lism-init {
	:where(.-lismVar\:) {
		--lism: unset;

		// 各ブレイクポイント用の変数に伝搬していく
		--lism--sm: var(--lism);
		--lism--md: var(--lism--sm);
		--lism--lg: var(--lism--md);
		// --lism--xl: var(--lism--lg);

		// 実際に扱う変数
		--lism--val: var(--lism);

		// 各ブレイクポイント用の値をセット
		@include query.bp-up('sm') {
			--lism--val: var(--lism--sm);
		}
		@include query.bp-up('md') {
			--lism--val: var(--lism--md);
		}
		@include query.bp-up('lg') {
			--lism--val: var(--lism--lg);
		}
		// @include query.bp-up('xl') {
		// 	--lism--val: var(--lism--xl);
		// }
	}
}
