/* stylelint-disable */

// transform系

// scale と併用できるように transform で。
// .-trf\:flipX {transform: scaleX(-1);}
// .-trf\:flipY {transform: scaleY(-1);}
// .-trf\:flipXY {transform: scaleX(-1) scaleY(-1);}


// .-flip\:X {scale: -1}
// .-flip\:Y {scale: 1 -1}
// .-flip\:XY {scale: -1 -1}

.-scale\:-X {scale: -1 1}
.-scale\:-Y {scale: 1 -1}
.-scale\:-XY {scale: -1 -1}

.-trslt\:-50X{translate: -50%;}
.-trslt\:-50Y{translate: 0 -50%;}
.-trslt\:-50XY{translate: -50% -50%;}
// .-trslt\:50XY{translate: 50% 50%;}
// .-trslt\:-100{translate: -100% -100%;}
// .-trslt\:50X{translate: 50%;}
// .-trslt\:100X{translate: 100%;}
// .-trslt\:-100X{translate: -100%;}
// .-trslt\:50Y{translate: 0 50%;}

// .-trslt\:100Y{translate: 0 100%;}
// .-trslt\:-100Y{translate: 0 -100%;}

.-rotate\:45{rotate: 45deg}
.-rotate\:-45{rotate: -45deg}
.-rotate\:90{rotate: 90deg}
.-rotate\:-90{rotate: -90deg}
// .-rotate\:180{rotate: 180deg}


// left:0%
// center:50%
// right:100%
// top:0%
// bottom:100%
// .-trfo\:c{transform-origin: center;}
.-trfo\:lt{transform-origin: 0% 0%;}
.-trfo\:rt{transform-origin: 100% 0%;}
.-trfo\:lb{transform-origin: 0% 100%;}
.-trfo\:rb{transform-origin: 100% 100%;}


