// ---

.-trs\: {
	:where(&) {
		// 変数初期セット（親子関係で影響しないように)
		--trsdu: var(--trsdu--default);
		--trsp: all;
		--trstf: ease;
	}
	transition: var(--trsdu) var(--trstf);
	transition-property: var(--trsp);
	// transition-duration: var(--trsdu);
	// transition-timing-function: var(--trstf);
}

// .-trstf\:in {--trstf: ease-in;}
// .-trstf\:out {--trstf: ease-out;}
// .-trstf\:in-out {--trstf: ease-in-out;}
// .-trstf\:linear {--trstf: linear;}
