@use '../query' as query;
@forward './pass-get'; // 先に読み込む

@forward './positions';
@forward './transform';
@forward './filter';
@forward './others';
@forward '../auto_output';

@forward './border';
@forward './hover';
// @forward './aspect';
// @forward './display';
// @forward './sizing';
// @forward './typography';
// @forward './gap';
// @forward './grid-props';
// @forward './flex-props';
// @forward './place';
// @forward './margin';
// @forward './padding';
// @forward './radius';
// @forward './shadow';

:root {
	// --grad-- はグラデーションの色部分だけを指定するための変数
	--grad--toBlack: transparent, rgb(0 0 0 / 50%) 60%, rgba(0 0 0 / 90%) 100%;
}

// c='(.*):(.+)%' で使用箇所検索
.-c\:mix {
	--c1-per: 50%;
	--c1: currentColor;
	--c2: transparent;
	--c: color-mix(in srgb, var(--c1) var(--c1-per), var(--c2));
}
.-bgc\:mix {
	--bgc1-per: 50%;
	--bgc1: currentColor;
	--bgc2: transparent;
	--bgc: color-mix(in srgb, var(--bgc1) var(--bgc1-per), var(--bgc2));
}
.-bdc\:mix {
	--bdc1-per: 50%;
	--bdc1: currentColor;
	--bdc2: transparent;
	--bdc: color-mix(in srgb, var(--bdc1) var(--bdc1-per), var(--bdc2));
}
