.b--list {
	list-style: none;
	--list-pis: 1.875em;
	--icon-svg: unset;
	--icon-color: var(--c--text-2);
	--icon-clip: circle(0.25em at 50%);
	--icon-size: 1em;
	// --pis: 2em;

	:where(&) > li {
		position: relative;
	}

	// テキスト（半角スペース）を入れて、疑似要素の高さをリストのテキストに合わせる。（line-heightも含めて高さを一致させる）
	:where(&) > li::before {
		position: absolute;
		top: 0;
		inset-inline-start: calc(0px - var(--list-pis) / 2 - var(--icon-size) / 2);
		width: var(--icon-size);
		height: auto;
		background: var(--icon-color);
		mask: var(--icon-svg) no-repeat 50% / contain;
		clip-path: var(--icon-clip);
		content: '\00a0'; // スペース
	}
}

.b--list--check {
	--icon-color: var(--green);
	--icon-clip: unset;
	--icon-svg: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M11.2 20.56l-5.92-5.92c-0.16-0.16-0.4-0.16-0.56 0l-2.8 2.8c-0.16 0.16-0.16 0.4 0 0.56l9.040 9.040c0.16 0.16 0.4 0.16 0.56 0l18.64-18.64c0.16-0.16 0.16-0.4 0-0.56l-2.8-2.8c-0.16-0.16-0.4-0.16-0.56 0l-15.6 15.52z"></path></svg>');
}

.b--list--caret {
	--icon-color: var(--blue);
	--icon-clip: unset;
	--icon-svg: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M23.4,14.4L12.9,7C11.6,6,9.7,7,9.7,8.6v14.8c0,1.6,1.8,2.6,3.1,1.6l10.5-7.4C24.5,16.8,24.5,15.2,23.4,14.4z"/></svg>');
}

// [class*='l--list--icon:']
