// .has--divider\:B,
// .has--divider\:I {
// 	--bdc: red; //var(--base-3);
// 	--bdw: 1px;
// 	--bds: solid;
// }

// シンプルに * > *
// .has--divider\:B > * + * {
// 	border-block-start: var(--bdw) var(--bds) var(--bdc);
// }

// // flexでの折返しを考慮して、end方向につける
// .has--divider\:I > :not(:last-child) {
// 	border-inline-end: var(--bdw) var(--bds) var(--bdc);
// }

// is--divided?
// .has--divider {
// 	--bdc: var(--divider-bdc);
// 	> :not(:last-child) {
// 		border-bottom: solid 1px var(--bdc);
// 	}
// }

// .has--divider\:i {
// 	--bdc: var(--divider-bdc);

// 	> :not(:last-child) {
// 		border-inline-end: solid 1px var(--bdc);
// 	}
// }

.has--divider {
	--bdc: var(--divider-bdc);
	--bds: solid;
	--bdw: 1px;
	--isRow: 0;
	--_dvdW: calc(var(--isRow, 0) * var(--bdw)); // isRow 1 なら 1px, isRow 0 なら 0px
	&:where(.l--flex) {
		--isRow: 1;
	}

	> :not(:last-child) {
		border-inline-end: var(--bds) var(--_dvdW) var(--bdc);
		border-bottom: var(--bds) calc(var(--bdw) - var(--_dvdW)) var(--bdc);
		// border-bottom: solid 1px var(--bdc);

		// @container style(--isFlex: 1) {
		// 	color: red;
		// }
	}
}
