/*
    Note: c,bgc,bdc ユーティリティより前で読み込むこと。
*/

// @supports (color: color-mix(in srgb, #000, #fff)) {
/* stylelint-disable */


// memo: パレットカラーだけに限定すれば、hsl(var(--color / alpha )) でいける? → ただしその場合は半透明にすることしかできないので、どちらにせよ微妙。

// is--cbox -cbox:red

// [class*="-boxcolor:"]
.is--colored{
	// c,bdc は 変数セットのみ
	// --c: var(--cbox-c, var(--c--text));
	--bdc: var(--c--divider);
	--c: var(--c--text);
	--bgc: var(--c--base-2);
	color: var(--c);
	background-color: var(--bgc);
}
@supports (color: color-mix(in srgb, #000, #fff)) {
	// --keycolor 必須. 親から引き継ぎたいこともあるかもしれないので、初期セットはしない
	.is--colored{
		--c: color-mix(in srgb, var(--c--text), var(--keycolor) var(--colored-per--txt, 16% ));
		--bgc: color-mix(in srgb, var(--c--base), var(--keycolor) var(--colored-per--bg, 4% ));
		--bdc: color-mix(in srgb, var(--c--base), var(--keycolor) var(--colored-per--bdc, 25% ));
		--c--link: var(--keycolor); // var(--cbox-c--link);
	}
}




