---
import { Lism } from '@lism-ui/astro';

const {
	viewBox,
	children,
	isAnimation,
	scale,
	level = 5,
	stretch,
	offsetX,
	offsetY,
	css = {},
	style = {},
	...props
} = Astro.props;

// scaleをコンポーネントに直書きできるように
if (null != scale) css.scale = scale;

// 変数セット
style['--level'] = level || null;
style['--offsetX'] = offsetX || null;
style['--offsetY'] = offsetY || null;
style['--stretch'] = stretch || null;
---

{
	level && (
		<Lism isFullwide lismClass='c--shapeDivider' css={css} style={style} {...props}>
			<div class='c--shapeDivider__inner -h:100%'>
				<svg
					xmlns='http://www.w3.org/2000/svg'
					class={isAnimation ? '-anim:shapeSlide' : ''}
					viewBox={viewBox}
					width='100%'
					height='100%'
					fill='currentColor'
					aria-hidden='true'
					focusable='false'
					preserveAspectRatio='none'
				>
					<slot />
				</svg>
			</div>
		</Lism>
	)
}
