---
import '@lism-ui/core/scss/all.scss';
import { Box, Lism, Flex, NavMenuList, NavMenu } from '@lism-ui/core';
// import Lism from '@lism-ui/astro/Lism/Lism.astro';
// import { Image } from 'astro:assets';
// import getLismProps from '@lism-ui/core/lib/getLismProps';
// import { Cat, Dog } from '@phosphor-icons/react';

// @ts-ignore
---

<p>hoge</p>
<Box p='box' bgc='base-2'>Box</Box>
<Lism p='box' bgc='base-2'>Lism box</Lism>
<!-- <Flex gap='20'>
	<Flex gap='20' c='red' _flex='a' _lismClass={['a']}>aaa</Flex>
	<Flex gap='20' c='blue' _flex='b' _lismClass={['b']}>aaa</Flex>
</Flex> -->
<!-- <NavMenuList hasDivider bd='block'> -->
<!-- <NavMenu href='#menuaa'>Menu 1</NavMenu> -->
<!-- </NavMenuList> -->
