---
import '@lism-ui/core/scss/all.scss';
import { Media, MediaLayer, Banner, Icon } from '@lism-ui/astro';
import { Image } from 'astro:assets';
import getLismProps from '@lism-ui/core/lib/getLismProps';

import { Cat, Dog } from '@phosphor-icons/react';

// @ts-ignore
---

<Icon as={Cat} weight='fill' size='3em' c='black' />
<!-- <Cat weight='fill' size='3em' c='black' /> -->
<Icon as={Dog} passProps={{ weight: 'fill', size: '2em' }} c='black' />

<!-- <Icon label='Phosphor Icons のロゴ' size='3em' c='red' viewBox='0 0 256 256'>
	<path
		d='M144,24H64a8,8,0,0,0-8,8V160a80.09,80.09,0,0,0,80,80,8,8,0,0,0,8-8V168a72,72,0,0,0,0-144ZM72,62.54,122.32,152H72Zm56,66.92L77.68,40H128ZM72.51,168H128v55.5A64.14,64.14,0,0,1,72.51,168ZM144,152V40a56,56,0,0,1,0,112Z'
	></path>
</Icon> -->

<p>hoge</p>

<a href='###'>aaa</a>

hoge

<figcaption>figcaption</figcaption>

<a href='###'><code>CODE</code> / <kbd>KBD</kbd></a>

{/* @ts-ignore */}
<!-- <Media as={Image} src='/img.jpg' alt='' width='960' height='640' /> -->
<Image src='/img.jpg' alt='' width='960' height='640' {...getLismProps({ p: 20, bd: true })} />
