---
import { DammyText, Lism } from '@lism-ui/astro';
---

<DammyText lang='ja' />
<DammyText lang='ja' length='xl' />

<h2>Heading 2</h2>
<DammyText lang='ja' length='l' />
<!-- <Lism isFullwide bgc='base-2' p='20'>
	<DammyText lang='ja' length='l' />
</Lism> -->
<ul>
	<li>list 1</li>
	<li>list 2</li>
	<li>list 3</li>
</ul>
<DammyText lang='ja' />
