---
import { Dummy, Lism } from '@lism-ui/astro';
---

<Dummy lang='ja' />
<Dummy lang='ja' length='xl' />

<h2>Heading 2</h2>
<Dummy lang='ja' length='l' />
<!-- <Lism isFullwide bgc='base-2' p='20'>
	<Dummy lang='ja' length='l' />
</Lism> -->
<ul>
	<li>list 1</li>
	<li>list 2</li>
	<li>list 3</li>
</ul>
<Dummy lang='ja' />
