---
import { Container, Lism, Columns } from '@loos/lism-astro';
---

<Lism tag='footer' py='50' hasGutter bd='bottom' bdc='divider' bgc='base-3'>
	<Container size='m' hasGutter>
		<Columns cols={[1, 2]}>
			<Lism>
				<Lism fz='l'>Dammy Footer</Lism>
				<Lism c='content-2'>Lorem ipsum text ...</Lism>
			</Lism>
			<Lism>
				<ul>
					<li>menu</li>
					<li>menu</li>
					<li>menu</li>
				</ul>
			</Lism>
		</Columns>
	</Container>
</Lism>
