// @use '../query' as query;
@use '../setting' as setting;

/* stylelint-disable */

// 優先度が 全方向 < x,y < 個別方向 になるように注意。

.-p\:box { --p: var(--p--box);}
.-p\:box\:s { --p: var(--p--box--s);}
.-p\:box\:l { --p: var(--p--box--l);}

// utilあり
[class*="-p:"] {
	padding: var(--p) !important;
}
[class*="-px:"] {
	padding-inline: var(--px) !important;
}
[class*="-py:"] {
	padding-block: var(--py) !important;
}

.-pt\: { padding-top: var(--pt) !important;}
.-pb\: { padding-bottom: var(--pb) !important;}
.-pl\: { padding-left: var(--pl) !important;}
.-pr\: { padding-right: var(--pr) !important;}
.-pis\: { padding-inline-start: var(--pis) !important;}
.-pbs\: { padding-block-start: var(--pbs) !important;}
// .-pe\: { padding-inline-end: var(--pe) !important;}
// .-pbe\: { padding-block-end: var(--pbe) !important;}

// 0 は全てで用意しておく
.-p\:0 {--p: 0}
.-px\:0 {--px: 0}
.-py\:0 {--py: 0}
.-pt\:0 { padding-top: 0 !important;}
.-pb\:0 { padding-bottom: 0 !important;}
.-pl\:0 { padding-left: 0 !important;}
.-pr\:0 { padding-right: 0 !important;}
.-pis\:0 { padding-inline-start: 0 !important;}
.-pbs\:0 { padding-block-start: 0 !important;}

@each $s in setting.$util_spaces {
	.-p\:#{$s} {--p: var(--s--#{$s});}
	.-px\:#{$s} {--px: var(--s--#{$s});}
	.-py\:#{$s} {--py: var(--s--#{$s});}
	// .-pl\:#{$s} {--pl: var(--s--#{$s});}
	// .-pr\:#{$s} {--pr: var(--s--#{$s});}
	// .-pt\:#{$s} {--pt: var(--s--#{$s});}
	// .-pb\:#{$s} {--pb: var(--s--#{$s});}
}
@each $em in setting.$util_em_tokens {
	.-p\:em#{$em} {--p: var(--em--#{$em});}
	.-px\:em#{$em} {--px: var(--em--#{$em});}
	.-py\:em#{$em} {--py: var(--em--#{$em});}
}


// @include query.bp-up('sm'){
// 	.-p\@sm { padding: var(--p--sm) !important;}
// 	.-px\@sm { padding-inline: var(--px--sm) !important;}
// 	.-py\@sm { padding-block: var(--py--sm) !important;}
// 	// .-pt\@sm { padding-top: var(--pt--sm) !important;}
// 	// .-pr\@sm { padding-right: var(--pr--sm) !important;}
// 	// .-pb\@sm { padding-bottom: var(--pb--sm) !important;}
// 	// .-pl\@sm { padding-left: var(--pl--sm) !important;}
// 	.-pis\@sm { padding-inline-start: var(--pis--sm) !important;}
// 	.-pbs\@sm { padding-block-start: var(--pbs--sm) !important;}
// }

// @include query.bp-up('md'){
// 	.-p\@md { padding: var(--p--md) !important;}
// 	.-px\@md { padding-inline: var(--px--md) !important;}
// 	.-py\@md { padding-block: var(--py--md) !important;}
// 	// .-pt\@md { padding-top: var(--pt--md) !important;}
// 	// .-pr\@md { padding-right: var(--pr--md) !important;}
// 	// .-pb\@md { padding-bottom: var(--pb--md) !important;}
// 	// .-pl\@md { padding-left: var(--pl--md) !important;}
// 	.-pis\@md { padding-inline-start: var(--pis--md) !important;}
// 	.-pbs\@md { padding-block-start: var(--pbs--md) !important;}
// }

// @include query.bp-up('lg'){
// 	.-p\@lg { padding: var(--p--lg) !important;}
// 	.-px\@lg { padding-inline: var(--px--lg) !important;}
// 	.-py\@lg { padding-block: var(--py--lg) !important;}
// 	// .-pt\@lg { padding-top: var(--pt--lg) !important;}
// 	// .-pr\@lg { padding-right: var(--pr--lg) !important;}
// 	// .-pb\@lg { padding-bottom: var(--pb--lg) !important;}
// 	// .-pl\@lg { padding-left: var(--pl--lg) !important;}
// 	.-pis\@lg { padding-inline-start: var(--pis--lg) !important;}
// 	.-pbs\@lg { padding-block-start: var(--pbs--lg) !important;}
// }
