/* stylelint-disable */

// [class*="-lh:"]{
// 	line-height: var(--lh);
// }

/* ------------------------------------------------------------
	font
------------------------------------------------------------ */
.-f\:i{font: inherit;}

/* ------------------------------------------------------------
	font-size
------------------------------------------------------------ */

// .-fz\: 
[class*='-fz:'] { font-size: var(--fz) !important}

.-fz\:r { font-size: 1rem }
.-fz\:2xs { --fz: var(--fz--2xs) }
.-fz\:xs { --fz: var(--fz--xs) }
.-fz\:s { --fz: var(--fz--s) }
.-fz\:m { --fz: var(--fz--m) }
.-fz\:l { --fz: var(--fz--l) }
.-fz\:xl { --fz: var(--fz--xl) }
.-fz\:2xl { --fz: var(--fz--2xl) }
.-fz\:3xl { --fz: var(--fz--3xl) }
.-fz\:4xl { --fz: var(--fz--4xl) }
.-fz\:5xl { --fz: var(--fz--5xl) }

// 流体サイズ ?
// .-fz\:fluid {
// 	--fz: var(--fz-fluid);
// }

// .-fz\:fluid\:s {
// 	--fz: var(--fz-fluid--s);
// }
// .-fz\:fluid\:l {
// 	--fz: var(--fz-fluid--l);
// }


/* ------------------------------------------------------------
	line-height
------------------------------------------------------------ */

// line-height

// [class*='-lh:'] { line-height: var(--lh) }
.-lh\:1 { line-height: 1 }
.-lh\:root { line-height: var(--lh--root) }
.-lh\:xs { line-height: var(--lh--xs) }
.-lh\:s { line-height: var(--lh--s) }
.-lh\:l { line-height: var(--lh--l) }
.-lh\:xl { line-height: var(--lh--xl) }


/* ------------------------------------------------------------
	font-family
------------------------------------------------------------ */

.-ff\:sans {font-family: var(--ff--sans)}
.-ff\:serif {font-family: var(--ff--serif)}
.-ff\:mono {font-family: var(--ff--mono)}
.-ff\:emoji {font-family: var(--ff--emoji)}

/* ------------------------------------------------------------
	letter-spacing
------------------------------------------------------------ */
// [class*='-lts:'] {
// 	letter-spacing: var(--lts);
// }
.-lts\:root {letter-spacing: var(--lts--root)}
.-lts\:s {letter-spacing: var(--lts--s)}
.-lts\:l {letter-spacing: var(--lts--l)}
.-lts\:xl {letter-spacing: var(--lts--xl)}

// .-lts\:-2 {letter-spacing: var(--lts---2);}
// .-lts\:-1 {letter-spacing: var(--lts---1);}
// .-lts\:0 {letter-spacing: 0;}
// .-lts\:1 {letter-spacing: var(--lts--1);}
// .-lts\:2 {letter-spacing: var(--lts--2);}
// .-lts\:3 {letter-spacing: var(--lts--3);}
// .-lts\:4 {letter-spacing: var(--lts--4);}
// .-lts\:5 {letter-spacing: var(--lts--5);}
// .-lts\:6 {letter-spacing: var(--lts--6);}


// text-align
.-ta\:c{text-align: center;}
.-ta\:r{text-align: right;}
.-ta\:l{text-align: left;}

// font-weight
.-fw\:bold{font-weight: var(--fw--bold);}
.-fw\:thin{font-weight: var(--fw--thin);}

// .-fw\:100{font-weight: 100;}
// .-fw\:300{font-weight: 300;}
// .-fw\:400{font-weight: 400;}
// .-fw\:500{font-weight: 500;}
// .-fw\:700{font-weight: 700;}
// .-fw\:900{font-weight: 900;}

.-fs\:n{font-style: normal;}
.-fs\:i{font-style: italic;}




// ---------------------------------------------------------------------
// lh 自動計算
// ---------------------------------------------------------------------

// @layer lism-init {
// 	// :where(:is(h1, h2, h3, h4, h5, h6, p)) {
// 	// 	font-size: var(--fz, inherit);
// 	// 	line-height: var(--lh, inherit);
// 	// }

// 	:root {
// 		--lh--min: 1.25em;
// 		--lh--max: 1.75em;
// 		--lh--slope: 0.3; // 自動計算用の傾き
// 	}

// 	:is(h1, h2, h3, h4, h5, h6),
// 	[class*='-fz\:'] {
// 		--base: calc(var(--lh--base) * 1em); // 計算ように単位をつけておく

// 		// 計算結果
// 		--calced: calc((var(--slope) * 1em) + var(--base) - (var(--lh--slope) * var(--fz)));

// 		// 上限値を var(--base) にすることで、フォントサイズが大きい場合にのみ計算を適用することも可能
// 		line-height: clamp(var(--lh--min), var(--calced), var(--lh--max));
// 	}
// }

//  1.75em - fz*slope + slope*1em
// slop .4, fz 2em →  1.75em - .4*2em + .4*1em → 1.15em
// slop .35, fz 2em →  1.75em - .35*2em + .35*1em → 1.2em
// slop .3, fz 2em →  1.75em - .3*2em + .3*1em → 1.25em
// slop .3, fz 1.5em → 1.75em - .3*1.5em + .3*1em → 1.3em
// slop .3, fz 2em →  1.5em - .3*2em + .3*1em → 1.1em
// slop .2, fz 2em →  1.5em - .2*2em + .2*1em → 1.2em
