---
import MobileMenuToggle from '@astrojs/starlight/components/MobileMenuToggle.astro';
import type { Props } from '@astrojs/starlight/props';

const { hasSidebar, labels } = Astro.props;

// see: https://github.com/withastro/starlight/blob/main/packages/starlight/components/PageFrame.astro

// page
//  header
//  sidebar
//  main-frame
//    right-sidebar-container
//    main-pane
---

<div class='page'>
	<header class='header'><slot name='header' /></header>
	<div class='page__inner'>
		{
			hasSidebar && (
				<nav class='sidebar' aria-label={labels['sidebarNav.accessibleLabel']}>
					<MobileMenuToggle {...Astro.props} />
					<div id='starlight__sidebar' class='sidebar-pane'>
						<div class='sidebar-content l-stack -gap:20'>
							<slot name='sidebar' />
						</div>
					</div>
				</nav>
			)
		}
		<div class='main-frame'><slot /></div>
	</div>
</div>

<style>
	/* body {
		width: 50%;
		max-width: 50%;
	} */
	.page {
		width: 50%;
		max-width: 50%;
		min-height: 100vh;
	}
	.page__inner {
		width: 100%;
		max-width: 100%;
		height: 100%;
		/* overflow-x: hidden; */
	}

	.header {
		/* grid-area: header; */
		z-index: var(--sl-z-index-navbar);
		position: sticky;
		top: 0;
		inset-inline-start: 0;
		inset-block-start: 0;
		width: 100%;
		height: var(--sl-nav-height);
		border-bottom: 1px solid var(--sl-color-hairline-shade);
		padding: var(--sl-nav-pad-y) var(--sl-nav-pad-x);
		padding-inline-end: var(--sl-nav-pad-x);
		background-color: var(--sl-color-bg-nav);
	}

	:global([data-has-sidebar]) .header {
		padding-inline-end: calc(
			var(--sl-nav-gap) + var(--sl-nav-pad-x) + var(--sl-menu-button-size)
		);
	}

	.sidebar-pane {
		visibility: var(--sl-sidebar-visibility, hidden);
		position: fixed;
		z-index: var(--sl-z-index-menu);
		/* inset-block: 0;
		inset-inline-start: 0; */
		/* top: 0; */
		/* padding-top: var(--sl-nav-height); */
		width: 100%;
		height: 100%;
		/* max-height: calc(100vh - var(--sl-nav-height) - var(--sl-mobile-toc-height)); */
		background-color: var(--sl-color-black);
		overflow-y: auto;
	}

	:global([aria-expanded='true']) ~ .sidebar-pane {
		--sl-sidebar-visibility: visible;
	}

	.sidebar-content {
		min-height: max-content;
		padding: 1rem var(--sl-sidebar-pad-x);
		/* flex-direction: column; */
		/* gap: 1rem; */
	}

	@media (min-width: 50rem) {
		.page__inner {
			/* max-width: 1%; */
			display: grid;
			grid:
				'sidebar main' 1fr
				'sidebar footer' auto;
			grid-template-columns: auto 1fr;
			justify-content: start;
		}
		.footer {
			grid-area: footer;
		}
		.sidebar {
			grid-area: sidebar;
			width: var(--sl-sidebar-width);
		}
		.main-frame {
			grid-area: main;
			max-width: 100%;
			width: 100%;

			/* box-sizing: border-box; */
			/* max-width: calc(100% - var(--sl-sidebar-width)); */
			/* padding-top: calc(var(--sl-nav-height) + var(--sl-mobile-toc-height)); */
			/* padding-inline-start: var(--sl-content-inline-start); */
		}

		:global([data-has-sidebar]) .header {
			padding-inline-end: var(--sl-nav-pad-x);
		}
		.sidebar-pane {
			--sl-sidebar-visibility: visible;
			width: var(--sl-sidebar-width);
			height: calc(100vh - var(--sl-nav-height) - var(--sl-mobile-toc-height));
			background-color: var(--sl-color-bg-sidebar);
			border-inline-end: 1px solid var(--sl-color-hairline-shade);
		}
		/* .sidebar-content::after {
			content: '';
			padding-bottom: 1px;
		} */
	}
</style>
