---
import type { Props } from '@astrojs/starlight/props';
// import { PAGE_TITLE_ID } from '@astrojs/starlight/constants';

const { title } = Astro.props.entry.data;
---

<h1 id="_top">{title}</h1>

<!-- <style>
	h1 {
		font-size: var(--sl-text-h1);
		line-height: var(--sl-line-height-headings);
		color: var(--sl-color-white);
	}
</style> -->
