---
import type { Props } from '@astrojs/starlight/props';
---

<div class='two-colomn-frame'>
	{
		Astro.props.toc && (
			<aside class='right-sidebar-container'>
				<div class='right-sidebar'>
					<slot name='right-sidebar' />
				</div>
			</aside>
		)
	}
	<div class='main-pane'><slot /></div>
</div>

<style>
	.two-colomn-frame {
		max-width: 100%;
		width: 100%;
		/* display: grid;
		grid: 'toc' var(--sl-mobile-toc-height) 'main' 1fr / 100%; */
	}

	.main-pane {
		isolation: isolate;
		max-width: 100%;
		width: 100%;
	}

	@media (min-width: 72rem) {
		.two-colomn-frame {
			--toc-width: 15rem;
			display: grid;
			/* main側の幅を数値で指定しないとコードが飛び出る */
			grid: 'main toc' / calc(100% - var(--toc-width)) 1fr;

			/* max-width: calc(((100vw - var(--sl-sidebar-width) - 2 * var(--sl-content-pad-x) - 2 * var(--sl-sidebar-pad-x)) * .25)); */
		}
		.main-pane {
			width: 100%;
			grid-area: main;
		}
		.right-sidebar-container {
			grid-area: toc;
			position: relative;
			/* order: 2; */
			/* max-width: 15rem; */
			/* width: calc(
				var(--sl-sidebar-width) + (100% - var(--sl-content-width) - var(--sl-sidebar-width)) / 2
			); */
		}

		.right-sidebar {
			position: fixed;
			top: 0;
			padding-top: var(--sl-nav-height);
			border-inline-start: 1px solid var(--sl-color-gray-6);
			width: var(--toc-width);
			height: 100vh;
			/* height: calc(100vh - var(--sl-nav-height) - var(--sl-mobile-toc-height)); */
			overflow-y: auto;
			scrollbar-width: none;
		}

		:global([data-has-sidebar][data-has-toc]) .main-pane {
			--sl-content-margin-inline: auto;

			/* order: 1; */
			/* width: calc(
				var(--sl-content-width) + (100% - var(--sl-content-width) - var(--sl-sidebar-width)) / 2
			); */
		}
	}
</style>
