// Callout は .-boxcolor とセットで使う.

// 初期値
:where(.c--callout) {
	--keycolor: currentColor;
	padding: 0.75em; //var(--p--box--s);
	gap: 0.5em 0.75em;
	border: 1px solid var(--bdc); // .is--colored 側で定義している --bdc を使う
	// align-items: center;
}
// .c--callout {
// 	--main-minW: 16rem;
// }

:where(.c--callout__icon) {
	font-size: 1.25em;
}
