.c--timeline {
	// --shape-size: 0.75rem;
	--start-space: var(--s30);
	--end-space: var(--s30);
	--line-len: 100%;
	--shape-size: 1.5rem;
	--highlight-offset: -3px;
	--edge-offset: calc(var(--shape-size) / 2);
	--shape-space: calc(var(--shape-size) + var(--highlight-offset) * -1);
}

// subグリッドでいい感じにできそう？
.c--timeline__item {
	grid: var(--start-space) auto auto auto var(--end-space) / var(--shape-space) 1fr;
}

.c--timeline__line {
	width: 2px;
	height: var(--line-len);
}

:where(.c--timeline__shape) {
	font-size: var(--shape-size);
}
.c--timeline__highlight {
	inset: var(--highlight-offset);
}

[data-timeline='start'] {
	--start-space: 0;
	--line-len: calc(100% - var(--edge-offset));
}
[data-timeline='end'] {
	--end-space: 0;
	--line-len: calc(100% - var(--edge-offset));
}

.c--timeline--horizontal {
	--edge-offset: 50%;
	grid-auto-flow: column;
	grid-template-rows: var(--shape-space) auto auto auto;

	.c--timeline__item {
		grid-row: span 4;
		grid: subgrid / var(--start-space) auto var(--end-space);
	}

	.c--timeline__line {
		width: var(--line-len);
		height: 2px;
	}
}
