.c--timelines {
	--shape-size: 0.75rem;
	--icon-size: 1.5rem;
	--start-space: var(--s--30);
	--end-space: var(--s--30);
	--line-size: 100%;
}

// subグリッドでいい感じにできそう？
.c--timeline {
	gap: 0 0.75em;
	grid:
		'.     .' var(--start-space)
		'shape time'
		'.     body'
		'.     .' var(--end-space) / calc(var(--icon-size) + 8px) 1fr;
	align-items: center;
}

.c--timeline__line {
	height: var(--line-size);
	width: 2px;
	grid-column: 1;
	grid-row: 1 / -1;
}

// e--deco
.c--timeline__shape {
	--size: var(--shape-size);
	grid-area: shape;
	width: var(--size);
	height: var(--size);

	&:has(> .e--icon) {
		--size: var(--icon-size);
		font-size: var(--size);
	}
}
.c--timeline__shape > .e--icon {
	--scale: 0.75;
}

// 強調
.c--timeline__highlight {
	inset: -3px;
	opacity: 0.25;
}

.c--timeline__time {
	grid-area: time;
}
.c--timeline__body {
	grid-area: body;
}
.c--timeline.-start {
	--start-space: 0;
	--line-size: calc(100% - var(--icon-size) / 2);
}
.c--timeline.-end {
	--end-space: 0;
	--line-size: calc(var(--start-space) + var(--icon-size) / 2);
}
