// --------------------
// divider
// --------------------
// :where(.b--divider) {}
.b--divider {
	--bdc: var(--divider-bdc);
	--bdw: 1px;
	--bds: solid;
	place-self: stretch;
	// min-width: 1em;
	// min-height: 1em;
}

.b--divider__bd {
	--bdc: inherit;
	--bdw: inherit;
	--bds: inherit;
	// border-top: var(--bdw) var(--bds) var(--bdc);
	flex: 1;
}

// :where(.l--stack) > .b--divider__bd {
// 	border-top: none;
// 	border-left: var(--bdw) var(--bds) var(--bdc);
// }
