// --------------------
// divider
// --------------------
.a--divider {
	--bdc: var(--divider-bdc);
	--bdw: 1px;
	--bds: solid;
	// display: block;
	border-top: var(--bdw) var(--bds) var(--bdc);
	// place-self: stretch;
}

.a--divider--vertical {
	border-top: none;
	border-left: var(--bdw) var(--bds) var(--bdc);
	min-height: 1em;
	// align-self: stretch;
}

// .b--divider__bd {
// 	--bdc: inherit;
// 	--bdw: inherit;
// 	--bds: inherit;
// 	// border-top: var(--bdw) var(--bds) var(--bdc);
// 	flex: 1;
// }
