:where(.a--icon:not([width])) {
	width: 1em;
	height: 1em;
}

.a--icon {
	--scale: 1;
	scale: var(--scale);
	display: inline-flex;
	vertical-align: middle; //下にスペースができるのを防ぐ
	flex-shrink: 0; // Callout など、アイコンはflex直下の子要素にしたい場合も多いので、指定しておく
	// width: 1em;
	// height: 1em;
}

.a--icon--inline {
	--scale: 1.125; // inlineアイコンはデフォルト状態で少し拡大表示
	vertical-align: -0.125em;
	margin-inline: calc(1em * (var(--scale) - 1) / 2);
	// line-height: inherit;
}

.a--icon--emoji {
	// emoji 考慮
	font-family: var(--ff--emoji);
	line-height: 1;
	place-content: center; // justify-content: center;
	place-items: center; // align-items: center;
}

// data-lism-icon のサイズはフォントサイズでコントロールする
//.a--icon:where([data-lism-icon]),
.a--icon--mask {
	width: 1em;
	height: 1em;
	background-color: currentColor;
	mask: var(--icon-mask) no-repeat 50% 50% / contain;
}

// .a--icon[data-lism-icon='acc-btn'] {
// 	background-color: currentColor;
// 	clip-path: polygon(50% 76%, 10% 25%, 90% 25%);
// }

// :where(.a--icon).-mask\: {
// 	background-color: currentColor;
// }
