---
import DemoPageLayout from '~/layouts/DemoPageLayout.astro';
import DemoHeader from '../DemoHeader.astro';
import DemoFooter from '../DemoFooter.astro';
import DemoContent from '../DemoContent.astro';
import { Box, Stack, Container, Dummy, WithSide } from '@lism-ui/astro';

//  two column では、メインコンテンツ内のfullwideはスマホで見ても端っこまで広がらないことに注意。
---

<DemoPageLayout>
	<Stack id='wrap' minH='100vh'>
		<DemoHeader />
		<Container hasGutter size='m' py='50' fx='1'>
			<WithSide sideW='240px' mainW='40em' g='50'>
				<Container tag='main'>
					<article>
						<header>
							<h1>Page Title</h1>
						</header>
						<Box isFlow mbs='60'>
							<DemoContent />
						</Box>
						<Box tag='aside' mbs='60'>
							<Box bgc='base-2' p='50'>
								<div>Comment area, etc...</div>
							</Box>
						</Box>
					</article>
				</Container>
				<Container tag='aside' data-is-side isFlow>
					<div>Sidebar contents...</div>
					<Dummy />
				</Container>
			</WithSide>
		</Container>
		<DemoFooter />
	</Stack>
</DemoPageLayout>
