// <ul>
.c--navMenu {
	// トップ要素でのみ定義
	&:where(:not(& &)) {
		--link-td: none;
		--pass-p: var(--s--20);
	}

	// &:where(:not([data-nest-level])) {
	// 	--pass-p: var(--p--box--s);
	// }
}

.c--navMenu__link {
	// text-decoration: none;
	padding: var(--pass-p);
	outline-offset: -1px;
}

// :where(a.c--navMenu__link, .c--navMenu .c--accordion__header:not(:has(a))):hover {
// 	color: var(--hov-c);
// 	background-color: var(--hov-bgc);
// }

// 子項目の余白をliで調整する場合
// .c--navMenu[data-nest-level] > .c--navMenu__item {
// 	padding-inline-start: calc((var(--level) * 1em));
// }
// [data-nest-level='1'] {
// 	--level: 1;
// }
// [data-nest-level='2'] {
// 	--level: 2;
// }
// [data-nest-level='3'] {
// 	--level: 3;
// }
