@use '../query' as query;

// --------------------
// カラム
// 他のgrid 要素を指定することはない & flex か grid かパッと判断できないので個別にモジュール化。
// --------------------
.l--columns {
	// --gtc: var(--gtc);
	display: grid;
	grid-template-columns: repeat(var(--cols--val), minmax(0, 1fr));

	// 各ブレイクポイント用の変数に伝搬していく
	--cols: 1; // 初期値
	// --_sm_cols: var(--cols);
	--sm-cols: var(--cols);
	--md-cols: var(--sm-cols);
	--lg-cols: var(--md-cols);
	// --xl-cols: var(--lg-cols);

	--cols--val: var(--cols);
	@include query.bp-up('sm') {
		--cols--val: var(--sm-cols);
	}
	@include query.bp-up('md') {
		--cols--val: var(--md-cols);
	}
	@include query.bp-up('lg') {
		--cols--val: var(--lg-cols);
	}
	// @include query.bp-up('xl') {
	// 	--cols--val: var(--xl-cols);
	// }
}

// -repeat: 1;
