// これらは、fx系プロパティを使うときに、-fxw: 等のクラスは不要
.l--flex {
	// --fxw: nowrap;
	// --fxd: row;
	// flex-flow: var(--fxd) var(--fxw);
	display: flex;
}

.l--flex--cluster {
	flex-wrap: wrap;
	align-items: center; // stretch を解除
}
