.l--frame {
	// position: relative;
	overflow: hidden; // Note: clip だと stack の直下で aspect-ratio が効かない
	> :where(img, video, picture, iframe) {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		// object-position: var(--objectPosition);
		// display: block;
	}
}
// --objpos, --objfit,
