/*
	Note: fxgの比率を 1:でかい数 にして、fix側を広がらないようにする。
      flex-grow は 変数指定だと挙動が変になることにも注意。
 */
.l--withSide {
	--side-w: auto;
	--main-w: max(var(--size--xs), 50%);
	display: flex;
	flex-wrap: wrap;

	> [data-is-side] {
		flex-basis: var(--side-w);
		flex-grow: 1; /* 0 だと折り返されたときに広がらない */
	}

	> [data-is-main] {
		flex-grow: 9999999; /* できるだけ fix側を 指定値ピッタリに近づけるためにかなり大きな数値を指定 */
		flex-basis: min(100%, var(--main-w)); /* このサイズが折り返しポイントの基準となる */
	}
}
