// .has--divider\:B,
// .has--divider\:I {
// 	--bdc: red; //var(--base-3);
// 	--bdw: 1px;
// 	--bds: solid;
// }

// シンプルに * > *
// .has--divider\:B > * + * {
// 	border-block-start: var(--bdw) var(--bds) var(--bdc);
// }

// // flexでの折返しを考慮して、end方向につける
// .has--divider\:I > :not(:last-child) {
// 	border-inline-end: var(--bdw) var(--bds) var(--bdc);
// }

.has--divider {
	--isRow: 0; // l--flex,cluster では 1 にセットされる
	--bdc: var(--base-3); // ボーダーを持つ要素の場合はそのボーダーカラーに合わせる
	--r1c0: calc(var(--isRow, 0) * 1px); // isRow 1 なら 1px, isRow 0 なら 0px
}

.has--divider > :not(:last-child) {
	border-inline-end: solid var(--r1c0) var(--bdc);
	border-bottom: solid calc(1px - var(--r1c0)) var(--bdc);
}
