// state
@forward './flow';
@forward './gutter';
@forward './container'; // Note: flow より後ろで読み込む
@forward './has-divider';
@forward './linkbox';
@forward './frame';

// 切り分ける？
//is--mediaFrame > :where(img, video),
// .is--objectFit {
// 	> :where(img, video) {
// 		width: 100%;
// 		height: 100%;
// 		object-fit: cover;
// 		// display: block;
// 	}
// }

// .is--square ?
// .has--size {
// 	width: var(--size);
// 	height: var(--size);
// }

.is--reset {
	color: inherit;
	background: none;
	border: none;
	font: inherit;
}
