@use 'sass:map';
@use 'sass:string';

$utilities: () !default;
$props: () !default;

// ユーティリティクラスを出力するブレイクポイントのリスト
// $utility_bps: () !default;
// $utility_bps: map.merge(
// 	(
// 		'sm': 1,
// 		'md': 1,
// 		'lg': 1,
// 	),
// 	$utility_bps
// );

/*
prop:CSSプロパティ名
important: 1 →　!important を付ける
base_type:
	0 →　なし（ユーティリティクラス以外は普通のインラインスタイルのみ）
	1 →　.-d\:{display: var(--d)} 　(メリット：importantなしでbp対応できる)
	2 → [class*='-aspect\:'] aspect-ratio: var(--aspect);}  (メリット: ユーティリティクラスもprop名を変数にできて文字数省略できる)
utilities: ユーティリティクラスのセレクタと値のリスト
special_utilities: 特殊な値をセットしたいユーティリティクラスのセレクタと値のリスト
*/

$place_utils: (
	'c': 'center',
	's': 'start',
	'e': 'end',
	'fs': 'flex-start',
	'fe': 'flex-end',
);
$place_items: map.merge(
	$place_utils,
	(
		'str': 'stretch',
	)
);
$place_content: map.merge(
	$place_utils,
	(
		'sb': 'space-between',
	)
);
$place_self: (
	'c': 'center',
	's': 'start',
	'e': 'end',
	'str': 'stretch',
);

// map.get($data, prop);
$utilities: (
	'0': (
		'0': '0',
	),
	's': (
		'0': '0',
		'5': 'var(--s--5)',
		'10': 'var(--s--10)',
		'15': 'var(--s--15)',
		'20': 'var(--s--20)',
		'30': 'var(--s--30)',
		'40': 'var(--s--40)',
		'50': 'var(--s--50)',
		// '60': 'var(--s--60)',
		// '70': 'var(--s--70)',
		// '80': 'var(--s--80)',
		// '90': 'var(--s--90)',
	),
	'm': (
		// '0': '0',
		'a': 'auto',
	),
	'p': (
		'box': 'var(--p--box)',
		'box\\:s': 'var(--p--box--s)',
		'box\\:l': 'var(--p--box--l)',
	),
	'p-side': (
		'0': '0',
	),

	'lh': (
		'1': '1',
		'root': 'var(--lh--root)',
		'xs': 'var(--lh--xs)',
		's': 'var(--lh--s)',
		'l': 'var(--lh--l)',
		'xl': 'var(--lh--xl)',
	),
	'lts': (
		'root': 'var(--lts--root)',
		's': 'var(--lts--s)',
		'l': 'var(--lts--l)',
		'xl': 'var(--lts--xl)',
	),
	'ta': (
		'l': 'left',
		'r': 'right',
		'c': 'center',
	),
	// 'tsh': (
	// 	'black': 'var(--tsh--black)',
	// 	'white': 'var(--tsh--white)',
	// 	'n': 'none',
	// ),
	'bg':
		(
			'n': 'none',
		),
	'bds': (
		// 's': solid,
		// 'dt': dotted,
		// 'ds': dashed,
		// 'db': double,
	),

	'bdrs': (
		'0': '0;',
		// '1': '1px;',
		'xs': 'var(--radii--xs)',
		's': 'var(--radii--s)',
		'm': 'var(--radii--m)',
		'l': 'var(--radii--l)',
		'xl': 'var(--radii--xl)',
		'full': 'var(--radii--full)',
	),
	'size': (
		'fit': 'fit-content',
		'100': '100%',
		// '75': '75%',
		// '50': '50%',
	),
	'max': (
		'100': '100%',
	),
	'min': (
		'100': '100%',
	),

	'gd': (
		// 'cols:a1a': 'none / auto 1fr auto',
		// 'side\\:s,side\\:l': "'side .' / auto 1fr",
		// 'side\\:e,side\\:r': "'. side' / 1fr auto",
	),
	'gtc': (
		'a1a': 'auto 1fr auto',
	),
	'gtr': (
		'a1a': 'auto 1fr auto',
	),
	// 'ga': (
	// 	'side': 'side',
	// 	's': 'start',
	// 	'e': 'end',
	// 	'c': 'center',
	// ),
	// 'gr': (
	// 	'span2': 'span 2 / span 2',
	// 	'full': '1 / -1',
	// 	'1': 1,
	// 	'2': 2,
	// 	'3': 3,
	// ),
	// 'gre': (
	// 	'-1': '-1',
	// ),
	// 'gc': (
	// 	'span2': 'span 2 / span 2',
	// 	'full': '1 / -1',
	// 	'1': 1,
	// 	'2': 2,
	// 	'3': 3,
	// ),
	// 'gce': (
	// 	'-1': '-1',
	// ),
	'ord':
		(
			'2': 2,
			'1': 1,
			'0': 0,
			'-1': -1,
		),
	'fxw': (
		'w': 'wrap',
		'nw': 'nowrap',
	),
	'fxd': (
		'c': 'column',
		'cr': 'column-reverse',
		'r': 'row',
		'rr': 'row-reverse',
	),
	'fx': (
		'1': '1',
	),
	'fxsh': (
		'0': '0',
	),
	'fxg': (
		'1': '1',
	),

	// 'pslf': $place_self,
	// 'cols': (
	// 	'1': '1',
	// 	'2': '2',
	// 	'3': '3',
	// ),
);

$props: map.deep-merge(
	(
		'w': (
			prop: 'width',
			base_type: 1,
			// important: 0,
			utilities: 'size',
			bp: 1,
		),

		'h': (
			prop: 'height',
			base_type: 1,
			utilities: 'size',
			// special_utilities: (
			// 	'full': (
			// 		'height': '100vh',
			// 		'height': '100dvh',
			// 		//height: calc(100vw - var(--sbar)),
			// 	),
			// ),
			bp: 1,
		),
		'maxW': (
			prop: 'max-width',
			base_type: 0,
			utilities: 'max',
		),
		'minW': (
			prop: 'min-width',
			base_type: 0,
			utilities: 'min',
		),
		'maxH': (
			prop: 'max-height',
			base_type: 0,
			utilities: 'max',
		),
		'minH': (
			prop: 'min-height',
			base_type: 0,
			utilities: 'min',
		),
		'c': (
			prop: 'color',
			// 主要カラーは変数をhoverやcolor-mixで活用するので、変数管理
			base_type: 2,
			important: 0,
			utilities: (
				'main': 'var(--c--main)',
				'accent': 'var(--c--accent)',
				'base': 'var(--c--base)',
				// 'base-2': 'var(--c--base-2)',
				'text': 'var(--c--text)',
				'text-2': 'var(--c--text-2)',
				'boxcolor': 'var(--boxcolor,currentColor)',
				'black': 'var(--black)',
				'white': 'var(--white)',
			),
			special_utilities: (
				'i': (
					'color': 'inherit',
				),
			),
		),
		'bgc': (
			prop: 'background-color',
			// 主要カラーは変数をhoverやcolor-mixで活用するので、変数管理
			base_type: 2,
			important: 0,
			// base_type: 2 で inherit すると 変数の引き継ぎになr
			utilities:
				(
					'main': 'var(--c--main)',
					'accent': 'var(--c--accent)',
					'base': 'var(--c--base)',
					'base-2': 'var(--c--base-2)',
					'text': 'var(--c--text)',
					// 'text-2': 'var(--c--text-2)',
					'boxcolor': 'var(--boxcolor,currentColor)',
					'black': 'var(--black)',
					'white': 'var(--white)',
				),
			special_utilities: (
				'i': (
					'background-color': 'inherit',
				),
			),
		),
		'bdc': (
			prop: '--bdc',
			base_type: 0,
			utilities: (
				'main': 'var(--c--main)',
				'accent': 'var(--c--accent)',
				'divider': 'var(--c--divider)',
				'boxcolor': 'var(--boxcolor,currentColor)',
				'i': 'inherit',
			),
		),
		'bds': (
			prop: '--bds',
			base_type: 0,
			// utilities: 'bds',
		),
		'bdw': (
			prop: '--bdw',
			base_type: 0,
			bp: 1,
			utilities: (
				'i': 'inherit',
			),
		),
		'f': (
			prop: 'font',
			base_type: 0,
			utilities: (
				'i': 'inherit',
			),
		),
		'fz': (
			prop: 'font-size',
			base_type: 2,
			bp: 1,
			utilities: (
				'root': '1rem',
				'2xs': 'var(--fz--2xs)',
				'xs': 'var(--fz--xs)',
				's': 'var(--fz--s)',
				'm': 'var(--fz--m)',
				'l': 'var(--fz--l)',
				'xl': 'var(--fz--xl)',
				'2xl': 'var(--fz--2xl)',
				'3xl': 'var(--fz--3xl)',
				'4xl': 'var(--fz--4xl)',
				'5xl': 'var(--fz--5xl)',
			),
		),
		'ff': (
			prop: 'font-family',
			base_type: 0,
			utilities: (
				'sans': 'var(--ff--sans)',
				'serif': 'var(--ff--serif)',
				'mono': 'var(--ff--mono)',
				// 'emoji': 'var(--ff--emoji)',
			),
		),
		'fw': (
			prop: 'font-weight',
			base_type: 0,
			utilities: (
				// 'bold': 'var(--fw--bold)',
				// 'thin': 'var(--fw--thin)',
				// 'bk': '900',
				'b': '700',
				// 'sb': '600',
				// 'm': '500',
				// 'br': 'bolder',
				'n': '400',
				// 'lr': 'lighter',
				// lightがない
				'l': '300',
				// 'tn': '100',
			),
		),
		'fs': (
			prop: 'font-style',
			base_type: 0,
			utilities: (
				// 'n': 'normal',
				'i': 'italic',
			),
		),
		'lh': (
			prop: 'line-height',
			//　BP対応増やしやすいように 1 でもいいかも?
			base_type: 0,
		),
		'lts': (
			prop: 'letter-spacing',
			base_type: 0,
		),
		'ta': (
			prop: 'text-align',
			base_type: 0,
		),
		'd': (
			prop: 'display',
			base_type: 1,
			important: 0,
			bp: 1,
			utilities: (
				'n': 'none',
				'b': 'block',
				'f': 'flex',
				'g': 'grid',
				'i': 'inline',
				'if': 'inline-flex',
				'ig': 'inline-grid',
				'ib': 'inline-block',
			),
		),
		'aspect': (
			prop: 'aspect-ratio',
			base_type: 1,
			bp: 1,
			utilities: (
				'16\\/9': '16/9',
				'4\\/3': '4/3',
				'3\\/2': '3/2',
				'2\\/1': '2/1',
				'1\\/1': '1/1',
				'gold': '16.18/10',
				'silver': '14.14/10',
				'bronze': '33.03/10',
				'ogp': '1.91/1',
				'cinema': '2.35/1',
			),
		),
		'op': (
			prop: 'opacity',
			base_type: 0,
			utilities: (
				'0': '0',
				'10': '0.1',
				'20': '0.2',
				'30': '0.3',
				'40': '0.4',
				'50': '0.5',
				'60': '0.6',
				'70': '0.7',
				'80': '0.8',
				'90': '0.9',
				'100': '1',
			),
		),
		'bg': (
			prop: 'background',
			base_type: 0,
		),
		'bdrs': (
			prop: 'border-radius',
			base_type: 2,
			// inner などで変数使う
			bp: 1,
		),
		// 'bdssrs': (
		// 	prop: 'border-start-start-radius',
		// 	base_type: 0,
		// 	utilities: '0',
		// ),
		// 'bdsers': (
		// 	prop: 'border-start-end-radius',
		// 	base_type: 0,
		// 	utilities: '0',
		// ),
		// 'bdeers': (
		// 	prop: 'border-end-end-radius',
		// 	base_type: 0,
		// 	utilities: '0',
		// ),
		// 'bdesrs': (
		// 	prop: 'border-end-start-radius',
		// 	base_type: 0,
		// 	utilities: '0',
		// ),
		'g':
			(
				prop: 'gap',
				base_type: 2,
				utilities: s,
				bp: 1,
			),
		'colg': (
			prop: 'column-gap',
			base_type: 1,
			bp: 1,
		),
		'rowg': (
			prop: 'row-gap',
			base_type: 1,
			bp: 1,
		),
		'm': (
			prop: 'margin',
			base_type: 1,
			important: 0,
			bp: 1,
			utilities: 'm' 's',
			// utilities: s m,
		),
		'mx': (
			prop: 'margin-inline',
			base_type: 1,
			important: 0,
			bp: 1,
			utilities: 'm',
		),
		'my': (
			prop: 'margin-block',
			base_type: 1,
			important: 0,
			bp: 1,
			utilities: 'm',
		),
		'mt': (
			prop: 'margin-top',
			base_type: 1,
			important: 0,
			bp: 1,
			utilities: 'm',
		),
		'mr': (
			prop: 'margin-right',
			base_type: 1,
			important: 0,
			bp: 1,
			utilities: 'm',
		),
		'mb': (
			prop: 'margin-bottom',
			base_type: 1,
			important: 0,
			bp: 1,
			utilities: 'm',
		),
		'ml': (
			prop: 'margin-left',
			base_type: 1,
			important: 0,
			bp: 1,
			utilities: 'm',
		),
		'mis': (
			prop: 'margin-inline-start',
			base_type: 1,
			important: 0,
			bp: 1,
			utilities: 'm',
		),
		'mbs': (
			prop: 'margin-block-start',
			base_type: 2,
			important: 0,
			bp: 1,
			utilities: 'm' 's',
		),
		'p': (
			prop: 'padding',
			base_type: 2,
			important: 0,
			bp: 1,
			utilities: 's' 'p',
		),
		'px': (
			prop: 'padding-inline',
			base_type: 2,
			important: 0,
			bp: 1,
			utilities: 's',
		),
		'py': (
			prop: 'padding-block',
			base_type: 2,
			important: 0,
			bp: 1,
			utilities: 's',
		),
		'pt': (
			prop: 'padding-top',
			base_type: 1,
			important: 0,
			bp: 1,
			// utilities: 'p-side',
		),
		'pr': (
			prop: 'padding-right',
			base_type: 1,
			important: 0,
			bp: 1,
			// utilities: 'p-side',
		),
		'pb': (
			prop: 'padding-bottom',
			base_type: 1,
			important: 0,
			bp: 1,
			// utilities: 'p-side',
		),
		'pl': (
			prop: 'padding-left',
			base_type: 1,
			important: 0,
			bp: 1,
			// utilities: 'p-side',
		),
		'pis': (
			prop: 'padding-inline-start',
			base_type: 2,
			important: 0,
			bp: 1,
			utilities: 's',
		),
		'pbs': (
			prop: 'padding-block-start',
			base_type: 1,
			important: 0,
			bp: 1,
			// utilities: 'p-side',
		),
		'fxw': (
			prop: 'flex-wrap',
			base_type: 1,
			bp: 1,
		),
		'fxd': (
			prop: 'flex-direction',
			base_type: 0,
			bp: 1,
		),
		'fx': (
			prop: 'flex',
			base_type: 1,
			bp: 1,
		),
		'fxsh': (
			prop: 'flex-shrink',
			base_type: 1,
		),
		'fxg': (
			prop: 'flex-grow',
			base_type: 1,
		),
		'fxb': (
			prop: 'flex-basis',
			base_type: 1,
			bp: 1,
		),
		'gd': (
			prop: 'grid',
			base_type: 1,
			bp: 1,
		),
		// 'gt': (
		// 	prop: 'grid-template',
		// 	base_type: 0,
		// 	bp: 0,
		// ),
		'gta':
			(
				prop: 'grid-template-areas',
				base_type: 1,
				bp: 1,
			),
		'gtc': (
			prop: 'grid-template-columns',
			base_type: 1,
			bp: 1,
		),
		'gtr': (
			prop: 'grid-template-rows',
			base_type: 1,
			bp: 1,
		),
		'ga': (
			prop: 'grid-area',
			base_type: 0,
		),
		'gr': (
			prop: 'grid-row',
			base_type: 1,
			bp: 1,
		),
		'gc': (
			prop: 'grid-column',
			base_type: 1,
			bp: 1,
		),
		// 'grs': (
		// 	prop: 'grid-row-start',
		// 	base_type: 0,
		// ),
		// 'gcs': (
		// 	prop: 'grid-column-start',
		// 	base_type: 0,
		// ),
		// 'gre': (
		// 	prop: 'grid-row-end',
		// 	base_type: 0,
		// ),
		// 'gce': (
		// 	prop: 'grid-column-end',
		// 	base_type: 0,
		// ),
		'ord':
			(
				prop: 'order',
				base_type: 0,
			),
		'ai': (
			prop: 'align-items',
			base_type: 1,
			bp: 1,
			utilities: $place_items,
		),
		'ac': (
			prop: 'align-content',
			base_type: 1,
			bp: 1,
			utilities: $place_content,
		),
		'ji': (
			prop: 'justify-items',
			base_type: 1,
			bp: 1,
			utilities: $place_items,
		),
		'jc': (
			prop: 'justify-content',
			base_type: 1,
			bp: 1,
			utilities: $place_content,
		),
		'aslf': (
			prop: 'align-self',
			base_type: 0,
			utilities: $place_self,
		),
		'jslf': (
			prop: 'justify-self',
			base_type: 0,
			utilities: $place_self,
		),
		'cols': (
			prop: '--cols',
			base_type: 0,
			bp: 1,
		),
		'rows': (
			prop: '--rows',
			base_type: 0,
			bp: 1,
		),
	),
	$props
);
