@use 'sass:map';
@use 'sass:string';

@use './props' as props;

$default_important: 0 !default;
$is_container_query: 1 !default;
$common_support_bp: 'lg' !default;

$breakpoints: () !default;
$breakpoints: map.merge(
	(
		'sm': '480px',
		'md': '720px',
		'lg': '960px',
	),
	$breakpoints
);

$props: () !default;
$props: map.deep-merge(props.$props, $props);
