@use 'sass:map';
@use 'sass:string';

$utilities: () !default;
$props: () !default;

// ユーティリティクラスを出力するブレイクポイントのリスト
// $utility_bps: () !default;
// $utility_bps: map.merge(
// 	(
// 		'sm': 1,
// 		'md': 1,
// 		'lg': 1,
// 	),
// 	$utility_bps
// );

/*
prop:CSSプロパティ名
important: 1 →　!important を付ける
base_type:
	0 →　なし（ユーティリティクラス以外は普通のインラインスタイルのみ）
	1 →　.-d\:{display: var(--d)} 　(メリット：importantなしでbp対応できる)
	2 → [class*='-p\:'] passing: var(--p);}  (メリット: ユーティリティクラスもprop名を変数にできて文字数省略できる)
utilities: ユーティリティクラスのセレクタと値のリスト
special_utilities: 特殊な値をセットしたいユーティリティクラスのセレクタと値のリスト
*/

$place_utils: (
	'c': 'center',
	's': 'start',
	'e': 'end',
	'fs': 'flex-start',
	'fe': 'flex-end',
);
$place_items: map.merge(
	$place_utils,
	(
		'str': 'stretch',
	)
);
$place_content: map.merge(
	$place_utils,
	(
		'sb': 'space-between',
	)
);
$place_self: (
	'c': 'center',
	's': 'start',
	'e': 'end',
	'str': 'stretch',
);

// map.get($data, prop);
$utilities: (
	'0': (
		'0': '0',
	),
	's': (
		'0': '0',
		'5': 'var(--s5)',
		'10': 'var(--s10)',
		'15': 'var(--s15)',
		'20': 'var(--s20)',
		'30': 'var(--s30)',
		'40': 'var(--s40)',
		'50': 'var(--s50)',
		// '60': 'var(--s60)',
		// '70': 'var(--s70)',
		// '80': 'var(--s80)',
		// '90': 'var(--s90)',
	),
	'p': (),
	'g': (
		'inherit': (
			'gap': 'inherit',
		),
	),
	'm': (
		// '0': '0',
		'a': 'auto',
	),
	'ov': (
		'h': 'hidden',
		'a': 'auto',
		'c': 'clip',
		's': 'scroll',
	),
	'trbl': (
		'0': '0',
		'50\\%': '50%',
		'100\\%': '100%',
	),
	// 'gr': (
	// 	'span2': 'span 2 / span 2',
	// 	'full': '1 / -1',
	// 	'1': 1,
	// 	'2': 2,
	// 	'3': 3,
	// ),
	// 'gre': (
	// 	'-1': '-1',
	// ),
	// 'gc': (
	// 	'span2': 'span 2 / span 2',
	// 	'full': '1 / -1',
	// 	'1': 1,
	// 	'2': 2,
	// 	'3': 3,
	// ),
	// 'gce': (
	// 	'-1': '-1',
	// ),
);

$props: map.deep-merge(
	(
		'w': (
			prop: 'width',
			base_type: 1,
			utilities: (
				'a': 'auto',
				'fit': 'fit-content',
				'100\\%': '100%',
			),
			bp: 1,
		),
		'h': (
			prop: 'height',
			base_type: 1,
			utilities: (
				'a': 'auto',
				'fit': 'fit-content',
				'100\\%': '100%',
				// 'hero': 'calc(100svh - var(--offset-heroH))',
			),
			bp: 1,
		),
		'maxW': (
			prop: 'max-width',
			base_type: 1,
			utilities: (
				'100\\%': '100%',
			),
			bp: 1,
		),
		'minW': (
			prop: 'min-width',
			base_type: 1,
			utilities: (
				'100\\%': '100%',
			),
			bp: 1,
		),
		'maxH': (
			prop: 'max-height',
			base_type: 1,
			utilities: (
				'100\\%': '100%',
			),
			bp: 1,
		),
		'minH': (
			prop: 'min-height',
			base_type: 1,
			utilities: (
				'100\\%': '100%',
			),
			bp: 1,
		),
		'c': (
			prop: 'color',
			// 主要カラーは変数をhoverやcolor-mixで活用するので、変数管理
			base_type: 2,
			utilities: (
				'main': 'var(--c--main)',
				'accent': 'var(--c--accent)',
				'base': 'var(--c--base)',
				// 'base-2': 'var(--c--base-2)',
				'text': 'var(--c--text)',
				'text-2': 'var(--c--text-2)',
				'keycolor': 'var(--keycolor)',
				'black': 'var(--black)',
				'white': 'var(--white)',
				'inherit': (
					'color': 'inherit',
				),
			),
			// special_utilities: (
			// 	'i': (
			// 		'color': 'inherit',
			// 	),
			// ),
		),
		'bgc': (
			prop: 'background-color',
			// 主要カラーは変数をhoverやcolor-mixで活用するので、変数管理
			base_type: 2,
			// base_type: 2 で inherit すると 変数の引き継ぎになr
			utilities:
				(
					'main': 'var(--c--main)',
					'accent': 'var(--c--accent)',
					'base': 'var(--c--base)',
					'base-2': 'var(--c--base-2)',
					'text': 'var(--c--text)',
					// 'text-2': 'var(--c--text-2)',
					'keycolor': 'var(--keycolor)',
					'black': 'var(--black)',
					'white': 'var(--white)',
					'inherit': (
						'color': 'inherit',
					),
				),
		),
		'bdc': (
			prop: '--bdc',
			base_type: 0,
			utilities: (
				'main': 'var(--c--main)',
				'accent': 'var(--c--accent)',
				'divider': 'var(--c--divider)',
				'keycolor': 'var(--keycolor)',
				'inherit': 'inherit',
			),
		),
		'bds': (
			prop: '--bds',
			base_type: 0,
			// utilities: 'bds',
		),
		'bdw': (
			prop: '--bdw',
			base_type: 0,
			bp: 1,
			utilities: (
				'inherit': 'inherit',
			),
		),
		'f': (
			prop: 'font',
			base_type: 0,
			utilities: (
				'inherit': 'inherit',
			),
		),
		'fz': (
			prop: 'font-size',
			base_type: 2,
			bp: 1,
			utilities: (
				'root': '1rem',
				'2xs': 'var(--fz--2xs)',
				'xs': 'var(--fz--xs)',
				's': 'var(--fz--s)',
				'm': 'var(--fz--m)',
				'l': 'var(--fz--l)',
				'xl': 'var(--fz--xl)',
				'2xl': 'var(--fz--2xl)',
				'3xl': 'var(--fz--3xl)',
				'4xl': 'var(--fz--4xl)',
				// '5xl': 'var(--fz--5xl)',
			),
		),
		'ff': (
			prop: 'font-family',
			base_type: 0,
			utilities: (
				'base': 'var(--ff--base)',
				'accent': 'var(--ff--accent)',
				'mono': 'var(--ff--mono)',
				// 'emoji': 'var(--ff--emoji)',
			),
		),
		'fw': (
			prop: 'font-weight',
			base_type: 0,
			utilities: (
				// 'thin': 'var(--fw--thin)',
				'light': 'var(--fw--light)',
				'normal': 'var(--fw--normal)',
				'medium': 'var(--fw--medium)',
				'bold': 'var(--fw--bold)',
				// 'heavy': 'var(--fw--heavy)',
			),
		),
		'fs': (
			prop: 'font-style',
			base_type: 0,
			utilities: (
				// 'n': 'normal',
				'i': 'italic',
			),
		),
		'lh': (
			prop: 'line-height',
			//　BP対応増やしやすいように 1 でもいいかも?
			base_type: 0,
			utilities: (
				'base': 'var(--lh--base)',
				'xs': 'var(--lh--xs)',
				's': 'var(--lh--s)',
				'l': 'var(--lh--l)',
				'xl': 'var(--lh--xl)',
				'1': '1',
			),
		),
		'lts': (
			prop: 'letter-spacing',
			base_type: 0,
			utilities: (
				'base': 'var(--lts--base)',
				's': 'var(--lts--s)',
				'l': 'var(--lts--l)',
				'xl': 'var(--lts--xl)',
			),
		),
		'ta': (
			prop: 'text-align',
			base_type: 0,
			utilities: (
				'l': 'left',
				'r': 'right',
				'c': 'center',
			),
		),
		'td': (
			prop: 'text-decoration',
			base_type: 0,
			utilities: (
				'n': 'none',
				'u': 'underline',
			),
		),
		'd': (
			prop: 'display',
			base_type: 1,
			bp: 1,
			utilities: (
				'n': 'none',
				'b': 'block',
				'f': 'flex',
				'g': 'grid',
				'i': 'inline',
				'if': 'inline-flex',
				'ig': 'inline-grid',
				'ib': 'inline-block',
			),
		),
		'v': (
			prop: 'visibility',
			base_type: 0,
			utilities: (
				'h': 'hidden',
				'v': 'visible',
			),
		),
		'ov': (
			prop: 'overflow',
			base_type: 0,
			utilities: 'ov',
		),
		'ovx': (
			prop: 'overflow-x',
			base_type: 0,
			utilities: 'ov',
		),
		'ovy': (
			prop: 'overflow-y',
			base_type: 0,
			utilities: 'ov',
		),
		'ar': (
			prop: 'aspect-ratio',
			base_type: 1,
			bp: 1,
			utilities: (
				'16\\/9': '16/9',
				'4\\/3': '4/3',
				'3\\/2': '3/2',
				'1\\/1': '1/1',
			),
		),
		'op': (
			prop: 'opacity',
			base_type: 0,
			utilities: (
				'low': 'var(--op--low)',
				'mid': 'var(--op--mid)',
				'high': 'var(--op--high)',
				'0': '0',
				'0\\.1': '0.1',
				'0\\.2': '0.2',
				'0\\.3': '0.3',
				'0\\.4': '0.4',
				'0\\.5': '0.5',
				'0\\.6': '0.6',
				'0\\.7': '0.7',
				'0\\.8': '0.8',
				'0\\.9': '0.9',
				'1': '1',
			),
		),
		'bg': (
			prop: 'background',
			base_type: 0,
			utilities: (
				'n': 'none',
			),
		),
		'bdrs': (
			prop: 'border-radius',
			base_type: 2,
			// inner などで変数使う
			bp: 1,
			utilities: (
				'0': '0',
				'1': 'var(--bdrs--1)',
				'2': 'var(--bdrs--2)',
				'3': 'var(--bdrs--3)',
				'4': 'var(--bdrs--4)',
				'5': 'var(--bdrs--5)',
				'99': 'var(--bdrs--99)',
				'inner': (
					'border-radius': 'calc(var(--bdrs, 0) - var(--p, 0) * 0.9)',
				),
			),
		),
		'bxsh': (
			prop: 'box-shadow',
			base_type: 2,
			utilities: (
				'0': '0',
				'1': 'var(--bxsh--1)',
				'2': 'var(--bxsh--2)',
				'3': 'var(--bxsh--3)',
				'4': 'var(--bxsh--4)',
				'5': 'var(--bxsh--5)',
				'-1': 'var(--bxsh--i1)',
				'-2': 'var(--bxsh--i2)',
			),
		),
		'p': (
			prop: 'padding',
			base_type: 2,
			bp: 1,
			utilities: 's' 'p',
		),
		'px': (
			prop: 'padding-inline',
			base_type: 2,
			bp: 1,
			utilities: 's',
		),
		'py': (
			prop: 'padding-block',
			base_type: 2,
			bp: 1,
			utilities: 's',
		),
		'pt': (
			prop: 'padding-top',
			base_type: 1,
			bp: 1,
		),
		'pr': (
			prop: 'padding-right',
			base_type: 1,
			bp: 1,
		),
		'pb': (
			prop: 'padding-bottom',
			base_type: 1,
			bp: 1,
		),
		'pl': (
			prop: 'padding-left',
			base_type: 1,
			bp: 1,
		),
		'pis': (
			prop: 'padding-inline-start',
			base_type: 2,
			bp: 1,
			utilities: 's',
		),
		'pbs': (
			prop: 'padding-block-start',
			base_type: 1,
			bp: 1,
			// utilities: (
			// 	'0': '0',
			// ),
		),
		'm': (
			prop: 'margin',
			base_type: 2,
			bp: 1,
			utilities: 'm' 's',
		),
		'mx': (
			prop: 'margin-inline',
			base_type: 1,
			bp: 1,
			utilities: 'm',
		),
		'my': (
			prop: 'margin-block',
			base_type: 1,
			bp: 1,
			utilities: 'm',
		),
		'mt': (
			prop: 'margin-top',
			base_type: 1,
			bp: 1,
			// utilities: 'm',
		),
		'mr': (
			prop: 'margin-right',
			base_type: 1,
			bp: 1,
			// utilities: 'm',
		),
		'mb': (
			prop: 'margin-bottom',
			base_type: 1,
			bp: 1,
			// utilities: 'm',
		),
		'ml': (
			prop: 'margin-left',
			base_type: 1,
			bp: 1,
			// utilities: 'm',
		),
		'mis': (
			prop: 'margin-inline-start',
			base_type: 1,
			bp: 1,
			utilities: 'm',
		),
		'mbs': (
			prop: 'margin-block-start',
			base_type: 2,
			bp: 1,
			utilities: 'm' 's',
		),

		'g': (
			prop: 'gap',
			base_type: 2,
			utilities: 's' 'g',
			bp: 1,
		),
		'colg': (
			prop: 'column-gap',
			base_type: 1,
			bp: 1,
		),
		'rowg': (
			prop: 'row-gap',
			base_type: 1,
			bp: 1,
		),
		'z': (
			prop: 'z-index',
			base_type: 0,
			utilities: (
				'2': 2,
				'1': 1,
				'0': 0,
				'-1': -1,
			),
		),
		'ord': (
			prop: 'order',
			base_type: 0,
			utilities: (
				// '2': 2,
				'1': 1,
				'0': 0,
				'-1': -1,
			),
		),

		'fxw': (
			prop: 'flex-wrap',
			base_type: 1,
			bp: 1,
			utilities: (
				'w': 'wrap',
				'nw': 'nowrap',
			),
		),
		'fxd': (
			prop: 'flex-direction',
			base_type: 1,
			bp: 1,
			utilities: (
				'c': 'column',
				'cr': 'column-reverse',
				'r': 'row',
				'rr': 'row-reverse',
			),
		),
		'fx': (
			prop: 'flex',
			base_type: 1,
			bp: 1,
			utilities: (
				'1': '1',
			),
		),
		'fxsh': (
			prop: 'flex-shrink',
			base_type: 0,
			utilities: (
				'0': '0',
			),
		),
		'fxg': (
			prop: 'flex-grow',
			base_type: 0,
			utilities: (
				'1': '1',
			),
		),
		'fxb': (
			prop: 'flex-basis',
			base_type: 1,
			bp: 1,
		),
		'gd': (
			prop: 'grid',
			base_type: 1,
			bp: 1,
		),
		'gta': (
			prop: 'grid-template-areas',
			base_type: 1,
			bp: 1,
		),
		'gtc': (
			prop: 'grid-template-columns',
			base_type: 1,
			bp: 1,
		),
		'gtr': (
			prop: 'grid-template-rows',
			base_type: 1,
			bp: 1,
		),
		'ga': (
			prop: 'grid-area',
			base_type: 1,
			bp: 1,
		),
		'gr': (
			prop: 'grid-row',
			base_type: 1,
			bp: 1,
		),
		'gc': (
			prop: 'grid-column',
			base_type: 1,
			bp: 1,
		),
		// 'grs': (
		// 	prop: 'grid-row-start',
		// 	base_type: 0,
		// ),
		// 'gcs': (
		// 	prop: 'grid-column-start',
		// 	base_type: 0,
		// ),
		// 'gre': (
		// 	prop: 'grid-row-end',
		// 	base_type: 0,
		// ),
		// 'gce': (
		// 	prop: 'grid-column-end',
		// 	base_type: 0,
		// ),
		'ai':
			(
				prop: 'align-items',
				base_type: 1,
				bp: 1,
				utilities: $place_items,
			),
		'ac': (
			prop: 'align-content',
			base_type: 1,
			bp: 1,
			utilities: $place_content,
		),
		'ji': (
			prop: 'justify-items',
			base_type: 1,
			bp: 1,
			utilities: $place_items,
		),
		'jc': (
			prop: 'justify-content',
			base_type: 1,
			bp: 1,
			utilities: $place_content,
		),
		'aslf': (
			prop: 'align-self',
			base_type: 0,
			utilities: $place_self,
		),
		'jslf': (
			prop: 'justify-self',
			base_type: 0,
			utilities: $place_self,
		),
		'cols': (
			prop: '--cols',
			base_type: 0,
			bp: 1,
		),
		'rows': (
			prop: '--rows',
			base_type: 0,
			bp: 1,
		),
	),
	$props
);
