:where(.b--button) {
	--td: none;

	--keycolor: var(--c--text);
	--bgc: transparent;
	--bdc: var(--keycolor); // reverse用
	--c: currentColor; // filledColor?

	padding: 0.375em 1em;
	gap: 0.5em;
	align-items: center;
	justify-content: center;
	// min-block-size: 3em;
	// line-height: 1.5;
}

// py は小さめにして、minHで最低限の高さを確保.
.b--button {
	color: var(--c);
	background-color: var(--bgc);
	border: solid 1px var(--bdc); // アウトラインと並べたときにサイズに差がでないように
}
.b--button:where(.l--grid) {
	--gtc: 1em 1fr 1em; // grid化した時用。
	justify-items: center;
}
.b--button__text {
	grid-column: 2;
}

// デフォルトスタイル
// .b--button:not([class*='b--button--'])
.b--button--fill {
	--c: var(--c--base);
	--bgc: var(--keycolor);
}

.b--button--outline {
	--c: var(--keycolor);
	--hov-c: var(--c--base);
}

.b--button--ghost {
	--c: var(--keycolor);
	--bdc: transparent;
	--hov-c: var(--c--base);
}

.b--button__icon {
	--scale: 1.125;
}
