.c--chat {
	--avator-size: clamp(48px, 32px + 5cqw, 64px); // 320:40px~640:64px
	--deco-size: 1.25rem; //calc(var(--avator-size) * 0.25);
	--colored-per--bg: 10%;
	--flowGap: 0.5em;

	// auto のとこに --avator-size を使うと、アバターなしの時にスペースできてしまう。
	grid: 'avatar header' minmax(1.5rem, auto) 'avatar body' / auto 1fr;
	gap: 0 var(--deco-size);
}
[data-chat-direction='end'] {
	grid: 'header avatar' minmax(1.5rem, auto) 'body avatar' / 1fr auto;
}

.c--chat__avatar {
	width: var(--avator-size);
	grid-area: avatar;
}
.c--chat__name {
	grid-area: header;
}
.c--chat__body {
	grid-area: body;
}
.c--chat__content {
	max-width: 640px;

	// .c--chat--speak[data-chat-direction='start'] &
	.c--chat--speak.-ji\:s & {
		border-start-start-radius: 0;
	}
	.c--chat--speak.-ji\:e & {
		border-start-end-radius: 0;
	}
}

// decorator
.c--chat__deco {
	top: 0rem;
	width: var(--deco-size);
	height: var(--deco-size);
}
.c--chat--speak .c--chat__deco {
	--mask-img: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8"><path d="M8,8L8,8C7.4,4.8,5.4,2,2.6,0.4L2,0h6V8z"/></svg>');
}
// think
.c--chat--think .c--chat__deco {
	top: 1rem;
	--mask-img: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8"><circle cx="2" cy="2" r="1.5"/><circle cx="5" cy="5" r="2.2"/></svg>');
}
