.c--chat {
	--avator-size: clamp(48px, 32px + 5cqw, 64px); /* @320px:40px ~ @640:64px */
	--deco-size: calc(var(--avator-size) * 0.25 + 0.25rem); /* if simple: 1.25rem; */
	--colbox-pct--bg: 12%;

	grid: 'avatar header' minmax(1.5rem, auto) 'avatar body' / auto 1fr;
	gap: 0 calc(var(--deco-size) + 1px);
}
[data-chat-direction='start'] {
	--_dirEnd: ;
}
[data-chat-direction='end'] {
	grid: 'header avatar' minmax(1.5rem, auto) 'body avatar' / 1fr auto;
}

.c--chat__avatar {
	width: var(--avator-size);
	grid-area: avatar;
}
.c--chat__name {
	grid-area: header;
}
.c--chat__body {
	grid-area: body;
}
.c--chat__content {
	max-width: 640px;

	.c--chat--speak[data-chat-direction='start'] > div > & {
		border-start-start-radius: 0;
	}
	.c--chat--speak[data-chat-direction='end'] > div > & {
		border-start-end-radius: 0;
	}
}

// decorator
.c--chat__deco {
	width: var(--deco-size);
	height: var(--deco-size);
	mask: var(--mask-img) center / contain no-repeat;
}
.c--chat--speak .c--chat__deco {
	top: 0;
	--mask-img: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8"><path d="M8,8L8,8C7.4,4.8,5.4,2,2.6,0.4L2,0h6V8z"/></svg>');
}
.c--chat--think .c--chat__deco {
	top: 1.25rem;
	--mask-img: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8"><circle cx="2.5" cy="2" r="1.6"/><circle cx="7" cy="5" r="2.75"/></svg>');
}
[data-chat-direction='start'] > div > .c--chat__deco {
	inset-inline-end: calc(100% - 1px);
}
[data-chat-direction='end'] > div > .c--chat__deco {
	inset-inline-start: calc(100% - 1px);
}
