/*
  ----------------------
    list - test style
  ----------------------
*/

// flex, grid なリストはスタイルをリセット ?
:is(ul, ol):is(.l--flex, .l--cluster, .l--grid, .l--columns, .l--tileGrid) {
	--list-style: none;
	--list--padding: 0;
}

// styleクエリ？
/*
@container style(--is-flex:1) {
	:is(ul, ol) {
		--list-style: none;
		--list--padding: 0;
	}
}
*/

// defaultのmarkerの色を変更？
// ::marker {color: var(--list-icon-color);}

// icon付きリスト
// d--icon-list--, d--list-icon--
:where(ul, ol)[class*='is-style-icon--'] {
	list-style: none;

	> li {
		position: relative;
		padding-left: 0.25em;
	}

	// テキスト（半角スペース）を入れて、疑似要素の高さをリストのテキストに合わせる。（line-heightも含めて高さを一致させる）
	> li::before {
		position: absolute;
		top: 0;
		left: calc(var(--list--padding) * -0.5 - 0.5em);
		display: block;
		width: 1em;
		height: auto;
		background-color: var(--list-icon-color, currentColor);
		-webkit-mask: var(--list-icon-mask, unset) no-repeat center center / contain;
		mask: var(--list-icon-mask, unset) no-repeat center center / contain;
		clip-path: var(--list-icon-clipPath, unset);
		content: '\00a0';
	}
}

.is-style-icon--dot {
	--list-icon-color: blue;
	--list-icon-clipPath: circle(16% at 50%);
}

.is-style-icon--caret {
	--list-icon-color: green;
	--list-icon-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M23.4,14.4L12.9,7C11.6,6,9.7,7,9.7,8.6v14.8c0,1.6,1.8,2.6,3.1,1.6l10.5-7.4C24.5,16.8,24.5,15.2,23.4,14.4z"/></svg>');
}

.is-style-icon--check {
	--list-icon-color: #52cb4c;
	--list-icon-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M11.2 20.56l-5.92-5.92c-0.16-0.16-0.4-0.16-0.56 0l-2.8 2.8c-0.16 0.16-0.16 0.4 0 0.56l9.040 9.040c0.16 0.16 0.4 0.16 0.56 0l18.64-18.64c0.16-0.16 0.16-0.4 0-0.56l-2.8-2.8c-0.16-0.16-0.4-0.16-0.56 0l-15.6 15.52z"></path></svg>');
}
