// @import './optins/base';
@use './optins/flex';
@use './optins/table';
@use './optins/tab';
@use './optins/hov';
@use './optins/bg';
@use './optins/others';

// @use '../components/ex/Badge/style' as Badge;
// @use '../components/ex/Button/style' as Button;

@use '../components/ex/Note/style' as Note;
@use '../components/ex/ShapeDivider/style' as ShapeDivider;

/* ----------------------------------------
    optin で、Docs で反映させるもの
 ---------------------------------------- */
:root {
	--code-c: currentColor;
	--code-bgc: color-mix(in srgb, transparent, currentColor 4%);
	// --code-bgc: color-mix(in srgb, transparent, currne 90%);
}

/* ----------------------------------------
    guide
 ---------------------------------------- */
:where(.has--itemGuide > *) {
	border: 1px dashed hsla(0, 0%, 63%, 0.4);
	padding: 0 4px;
}
.-hov\:itemGuide {
	> * {
		position: relative;
	}
	&:hover > *:before {
		content: '';
		display: block;
		position: absolute;
		inset: 0;
		border: 1px dashed rgba(150, 150, 160, 0.4);
		// box-sizing: border-box;
	}
}

/* ----------------------------------------
    content
 ---------------------------------------- */

code {
	&:where(:not(.c--preview_area &)) {
		font-family: var(--ff--mono);
		font-size: 0.9em;
		color: var(--code-c);
		padding: 0.25em 0.375em;
		border-radius: 0.25em;
		background-color: var(--code-bgc);
	}
}

// スコア: 0-0-2 → code, kbd を上書きできるように
a > code {
	// color: inherit;
	text-decoration: inherit;
}

kbd {
	&:where(:not(.c--preview_area &)) {
		font-size: 0.95em;
		display: inline-block;
		font-family: var(--ff--mono);
		line-height: 1;
		padding: 0.375em;
		border-radius: 0.25em;
		border: solid 1px var(--c--divider);
		box-shadow: 0 2px 0 var(--c--divider);
		translate: 0 -1px;

		// color: var(--c--text);
		// background-color: var(--c--base);
	}
}

.c--badge--prop {
	td > &:first-child {
		margin-inline-start: 0;
	}
}

.z--mdcontent {
	> :where(p, ul, ol) code {
		display: inline-block;
		line-height: 1;
	}
	> table {
		font-size: 0.95em;
		max-inline-size: 100%;
		border: none;
		border-collapse: collapse; // memo: oveflow の指定によっては separate にしないとborderが表示されない場合があるので横スクロール時には注意。
		border-spacing: 0;
		isolation: isolate;

		:where(td, th) {
			border-block: 1px solid var(--c--divider);
		}
		thead {
			border-block-end: solid 2px;
		}
	}
}

.c--badge--prop {
	padding: 0 0.25em;
	> code {
		background-color: transparent;
		font: inherit;
		padding: 0;
	}
}

// セル内のコードで、かつそれが唯一な要素であればは折り返さない
td:first-child > code:only-child {
	white-space: nowrap;
}

//--------------------
// utility 作成例
//--------------------
.-hov\:get\:highlight {
	.-hov\:pass:hover & {
		color: var(--red);
		background-color: rgba(255, 10, 10, 0.05);
	}
}
