// ovx='auto' の時にmarginネガティブだとアウトなので、borderではなくbox-shadowで表現する。
:where(.c--tabs--line) {
	> .c--tabs__list {
		--shadowOfset: 0 2px; // inset 0 -2px
		--tab--shadowColor: transparent;
		box-shadow: var(--shadowOfset) 0 0 var(--base-3);
	}
	// タブはそんな頻出するものではないので、文字数削減を優先して子孫セレクタ使う。
	.c--tabs__tab {
		box-shadow: var(--shadowOfset) 0 0 var(--tab--shadowColor);
	}

	[aria-selected='true'] {
		--tab--shadowColor: currentColor;
	}
}

.c--tabs--box {
	--bdrs: var(--radius--s);
	--active-bgc: var(--base);
}
:where(.c--tabs--box) {
	> .c--tabs__list {
		// .c--tabs__list 自体のradiusより少しだけ小さくする
		--tab-radii: calc(var(--bdrs, 0) - 0.125em);
	}

	[aria-selected='true'] {
		box-shadow: var(--sh--1);
	}
}

// .c--tabs__list--lifted {
// 	--bdw: 1px;
// 	// > .c--tabs__tab  {}

// 	> [aria-selected='false'] {
// 		border-bottom: var(--bdw) solid var(--base-3);
// 	}
// 	> [aria-selected='true'] {
// 		border: var(--bdw) solid var(--base-3);
// 		border-bottom: none;
// 	}
// 	&::after {
// 		content: '';
// 		position: absolute;
// 		inset: 0;
// 		display: block;
// 		z-index: -1;
// 		// flex: 1;
// 		border-bottom: var(--bdw) solid var(--base-3);
// 	}
// }
