:root {
	// 基本: light用
	--codeBlock--bgc: hsl(200, 16%, 96%);
	--preview--resize-bdc: hsl(200, 16%, 60%);
	--preview--help-bg: rgba(250, 250, 255, 0.5);
}

:root[data-theme='dark'] {
	--codeBlock--bgc: hsl(200, 12%, 12%);
	--preview--resize-bdc: hsl(200, 16%, 40%);
	--preview--help-bg: rgba(50, 50, 55, 0.5);

	--c--main: #4082aa;
	--c--accent: #da3159;

	// base
	--c--base-hs: 215 8%;
	--c--base: hsl(var(--c--base-hs) 8%);
	--c--base-2: hsl(var(--c--base-hs) 14%);

	--c--divider: hsl(var(--c--base-hs) 20%);

	// content
	--c--text: hsl(215 8% 99%);
	--c--text-2: hsl(215 4% 88%);
	// --c--divider: hsl(225 4% 75%); //hsl(200, 12%, 92%);

	// color mix
	--cbox-mixper--bg: 12%;
	--cbox-mixper--bdc: 40%;
	--cbox-mixper--txt: 0%;
	--cbox-mixper--link: 25%;

	// other colors
	--link-c: #50a2ff;
	// --sh-color: hsl(215 8% 8% / 80%);
	--sh-hsl: 215 4% 40%;
	--sh-a: 20%;
}

.expressive-code {
	--ec-frm-edBg: var(--codeBlock--bgc) !important;
}
