:root {
	--heading-ff: var(--ff--sans);
	--link-c: #0c61e4;
	// --link-underlineOffset: 0.2ex;

	--focus--outlineColor: revert;
	--focus--outlineOffset: 1px;

	// --code-c: var(--c--text);
	// --code-bgc: var(--c--base-2);
	--code-c: currentColor;
	--code-bgc: color-mix(in srgb, transparent, currentColor 4%);
}

// フォーカス要素
:where(:focus-visible) {
	outline-color: var(--focus-outlineColor);
	outline-offset: var(--focus-outlineOffset);
}

pre {
	padding: var(--p--box);
	background-color: var(--c--base-2);

	// 横にスクロールできるように
	// overflow-inline: auto; ← まだ使えない
	overflow-x: auto; /* 縦書きモードにしてもこれでいける */
}

code,
kbd {
	font-size: 0.9em;
	font-family: var(--ff--mono);
	padding: 0.25em 0.375em;
	border-radius: var(--radii--s);
}

code {
	color: var(--code-c);
	background-color: var(--code-bgc);
}

kbd {
	border: solid 1px var(--c--divider);
	box-shadow: 0 1px 0 var(--c--divider);
	// color: var(--c--text);
	// background-color: var(--c--base);
}

blockquote {
	border-inline-start: solid 3px currentColor;
	padding: var(--p--box--s);

	& > :where(footer, cite) {
		margin-block-start: var(--s--20);
	}
}
figcaption {
	font-size: var(--fz--s);
}

// $colors: 'red', 'orange', 'yellow', 'green', 'blue', 'purple', 'pink', 'gray';
// @each $c in $colors {
// 	.-keycolor\:#{$c} {
// 		--keycolor: var(--#{$c});
// 	}
// }

// Button
// :where(.b--button) {
// 	--icon-scale: 1.25;
// 	--icon-offset: 0%;
// }

// .b--button__icon {
// 	&:where(:first-child) {
// 		translate: calc(0px - var(--icon-offset));
// 	}
// 	&:where(:last-child) {
// 		translate: var(--icon-offset);
// 	}
// }

// ↓ 追加パックにいれる？
// .-hov\:dark:hover {
// 	filter: brightness(0.8) contrast(1.2); //grayscale(5%);
// }
// .-hov\:bright:hover {
// 	filter: brightness(1.2) contrast(1.2); //grayscale(5%);
// }
// .-hov\:scale:hover {
// 	scale: 1.05;
// }

.-hov\:get\:zoom {
	scale: calc(1 + 0.1 * var(--isHover));
}

.-hov\:get\:slide {
	--gtr: 0fr;
	opacity: var(--isHover);
	transition-property: var(--acc-trsprop);

	// calc() で fr単位が使えない
	.-hov\:pass:hover & {
		--gtr: 1fr;
	}
}
