/* https://github.com/withastro/starlight/tree/main/packages/starlight/style */
@import './docs/theme';
@import './docs/layout';
@import './docs/preview';
@import './docs/code';
@import './optins';
@import '../components/ex/Chat/style';
@import '../components/ex/Note/style';

/* memo: 狭いブラウザ幅での目次、文字検索した時に展開してきて邪魔になってしまうので、最大高さを低くした方がいいかも */

:where(.has--itemGuide > *) {
	border: 1px dashed hsla(0, 0%, 63%, 0.4);
	padding: 0 4px;
}
.-hov\:itemGuide {
	> * {
		position: relative;
	}
	&:hover > *:before {
		content: '';
		display: block;
		position: absolute;
		inset: 0;
		border: 1px dashed rgba(150, 150, 160, 0.4);
		// box-sizing: border-box;
	}
}

.a--mdcontent {
	> :where(p, ul, ol) code {
		display: inline-block;
		line-height: 1;
	}
	> table {
		font-size: 0.95em;
		max-inline-size: 100%;
		border: none;
		border-collapse: collapse; // memo: oveflow の指定によっては separate にしないとborderが表示されない場合があるので横スクロール時には注意。
		border-spacing: 0;
		isolation: isolate;

		:where(td, th) {
			border-block: 1px solid var(--c--divider);
		}
		thead {
			border-block-end: solid 2px;
		}
	}
}

// .b--badge--subtle > code {
// 	background-color: transparent;
// 	font: inherit;
// 	padding: 0;
// }

// セル内のコードで、かつそれが唯一な要素であればは折り返さない
td:first-child > code:only-child {
	white-space: nowrap;
}

//--------------------
// utility 作成例
//--------------------
.-hov\:get\:highlight {
	.-hov\:pass:hover & {
		color: var(--red);
		background-color: rgba(255, 10, 10, 0.05);
	}
}
