@use '@lism-ui/core/scss/setting' as lism-setting with (
	$props: (
		'w': (
			important: 1,
			bp: 0,
		),
		'p': (
			// 'p'のユーティリティクラスは、xl サイズまで出力する
			bp: 'xl',
		),
	),
	$breakpoints: (
		'sm': '400px',
		'md': '500px',
		'lg': '600px',
		'xl': '650px',
	)
);

@use '@lism-ui/core/scss/all';
