// :where(.b--avatar) {
// 	--size: auto;
// }
.b--avatar {
	--size: 2rem;
	// display: inline-flex;
	width: var(--size);
	height: var(--size);
	// aspect-ratio: 1/1;

	// > span {
	// 	line-height: 1;
	// 	font-size: calc(var(--size) * 0.625);
	// }
}
