// :where(.b--avatar) {
// 	--size: auto;
// }
.b--avatar {
	--size: auto;
	display: inline-flex;
	inline-size: var(--size);
	// aspect-ratio: 1/1;
	// width: var(--size);
	// height: var(--size);
	// overflow: hidden;
}
