.expressive-code {
	--ec-frm-edBg: var(--codeBlock--bgc) !important;
}
// 画面サイズ小さめの時に目次サイドバーがはみ出す問題への対処。
// div.code がくるのは １列のコードの時だけ？ width:0 にしても特にコード表示に問題はなかった。
.expressive-code .ec-line div.code {
	width: 0;
	&::after {
		content: '';
		display: inline-block;
		width: calc(2rem + var(--ec-codePadInl));
	}
}
// .expressive-code .ec-line {
// 	padding-inline-end: calc(2rem + var(--ec-codePadInl));
// }

// コードブロック
.expressive-code {
	// --ec-frm-frameBoxShdCssVal: var(--bxsh--3);
	/* --ec-codeBg: #fff;
	--code-background: #fff; */

	> .frame {
		--ec-frm-frameBoxShdCssVal: none;
	}

	> .frame > pre {
		border: none !important;
		padding: 0;
		// background: none;
		// max-width: calc(var(--sl-content-width) - var(--sl-content-pad-x));
		// width: 100%;
	}

	> .frame > pre > code {
		font-family: var(--ff--mono);
		// font-size: 0.875rem;
		line-height: 1.625;
		padding: var(--ec-codePadBlk) 0;

		// all: unset;
		// display: block;
		// flex: 1 0 100%;

		// color: var(--ec-codeFg);
		// font-family: var(--ec-codeFontFml);
		// font-size: var(--ec-codeFontSize);
		// font-weight: var(--ec-codeFontWg);
		// line-height: var(--ec-codeLineHt);
	}

	.c--note & {
		> .frame {
			background: var(--code-background);
			background: color-mix(in srgb, var(--code-background), transparent 50%);
			box-shadow: var(--bxsh--i1);
		}
		> .frame > pre {
			background: none;
		}
	}

	.c--note__body > &:last-child {
		padding-bottom: 0.5em;
	}

	.ec-line.ec-line mark {
		--tmInlineBgCol: rgba(138, 145, 150, 0.1);
		// --tmInlineBrdCol: #4d70bcd0;
		--tmInlineBrdCol: hsla(207, 43%, 47%, 0.8);
		// --ec-tm-inlMarkerBrdWd: 1.5px;
	}
	.ec-line.mark.mark {
		--tmLineBgCol: rgba(147, 153, 155, 0.15);
	}
}
// 埋め込みコード
.emgithub-file {
	margin-block-end: 0 !important;
	.emgithub-container:first-of-type > & {
		margin-block-start: 0;
	}

	// with ❤ 消す
	.hide-in-phone {
		display: none;
	}
	.code-area > pre {
		tab-size: 4 !important;
	}
}
