/* ----------------------------------------
    hero page
 ---------------------------------------- */
:root {
	// --hero--blue: 220 85% 65%;
	--hero--blue: hsla(206, 85%, 65%, 0.1);
	--hero--purple: hsla(263, 76%, 75%, 0.1);
}

:root[data-theme='dark'] {
	--hero--blue: rgba(13, 65, 162, 0.2);
}

[data-has-hero] .page {
	/* border: solid 1px red; */
	--grad-1: linear-gradient(215deg, var(--hero--blue), transparent 100vh);
	--grad-2: linear-gradient(60deg, var(--hero--purple), var(--hero--blue) 20%, transparent 80%);
	--grad-3: radial-gradient(hsl(var(--hero--blue) / 0.1), transparent 65%);

	background: var(--grad-1), var(--grad-2);
}
