/* memo: 狭いブラウザ幅での目次、文字検索した時に展開してきて邪魔になってしまうので、最大高さを低くした方がいいかも */

// 以下ではデフォルトのカラム幅を広げ、ページタイトルのテキストサイズを大きくしています。
:root {
	--sl-content-width: 50rem;
	--sl-sidebar-width: 15rem;
	--codeBlock--radius: 0 0 var(--bdrs--2) var(--bdrs--2);
}

#starlight__sidebar {
	--sl-color-bg-sidebar: transparent;
}

.site-title > span {
	display: inline-flex;
	gap: 0.375em;
	align-items: center;
	&::after {
		content: 'β';
		display: block;
		line-height: 1;
		padding: 0.25rem 0.375rem;
		border-radius: 0.25rem;
		font-size: 1rem;
		background-color: var(--c--text);
		color: var(--c--base);
	}
}
// リストスタイルの除去
.sidebar-content,
.right-sidebar {
	--list-pis: 0;
	--lis: none;
}

.sidebar details ul summary span {
	font-size: 0.9rem;
}

.right-sidebar-container {
	position: sticky;
	z-index: var(--sl-z-index-toc);
	top: var(--sl-nav-height);
}

.sidebar {
	._link:not([aria-current='page']) {
		color: inherit;
		opacity: 0.8;
		&:hover {
			opacity: 1;
			background-color: var(--c--base-2);
		}
	}
	.top-level > li {
		// > details > summary {
		// 	border-left: 1px solid currentColor;
		// 	padding-inline-start: 0.5em !important;
		// }
	}

	._subtitle {
		display: block;
		pointer-events: none;
		color: inherit;
		// font-weight: bold;
		margin-inline-start: -1px;
		// padding: 0.75em 0 0.5em;
		margin-top: 0.75em;
		padding-inline-start: 0.5em;
		padding-block: 0;
		font-size: var(--sl-text-sm);

		opacity: 0.5;
		// border-radius: var(--bdrs--2);
		// background-color: var(--c--base-2);
	}
	._divider {
		padding-block: 0.5em;
		padding-inline: 0.5em 0;

		> span {
			display: block;
			border-top: 1px solid var(--sl-color-hairline-light);
		}
	}
}

// stylelint-disable no-descending-specificity

li[data-compgroup-label] {
	padding-inline-start: 0;
	margin-top: var(--s30);
	margin-bottom: var(--s10);
}

// 開発環境だけ
.sidebar[data-astro-source-file] {
	[data-compgroup-label] {
		border-inline-start-width: 2px;
	}
	[data-compgroup-label='Layouts'] {
		&,
		~ li:not([data-compgroup-label]) {
			border-color: var(--green);
		}
	}

	[data-compgroup-label='State'] {
		&,
		~ li:not([data-compgroup-label]) {
			border-color: var(--yellow);
		}
	}
	[data-compgroup-label='Atoms'] {
		&,
		~ li:not([data-compgroup-label]) {
			border-color: var(--purple);
		}
	}
	[data-compgroup-label='Blocks'] {
		&,
		~ li:not([data-compgroup-label]) {
			border-color: var(--pink);
		}
	}
	[data-compgroup-label='Components'] {
		&,
		~ li:not([data-compgroup-label]) {
			border-color: var(--orange);
		}
	}
	[data-compgroup-label='More Examples'] {
		&,
		~ li:not([data-compgroup-label]) {
			border-color: var(--gray);
		}
	}
}
