:root {
	// 基本: light用
	--codeBlock--bgc: hsl(200, 16%, 96%);
	--preview--resize-bdc: hsl(200, 16%, 60%);
	--preview--help-bg: rgba(250, 250, 255, 0.5);
}

:root[data-theme='dark'] {
	--codeBlock--bgc: hsl(200, 12%, 12%);
	--preview--resize-bdc: hsl(200, 16%, 40%);
	--preview--help-bg: rgba(50, 50, 55, 0.5);

	--c--main: #4082aa;
	--c--accent: #da3159;

	// base
	--c--base-hs: 215 8%;
	--c--base: hsl(var(--c--base-hs) 8%);
	--c--base-2: hsl(var(--c--base-hs) 14%);

	--c--divider: hsl(var(--c--base-hs) 20%);

	// content
	--c--text: hsl(215 8% 99%);
	--c--text-2: hsl(215 4% 88%);
	// --c--divider: hsl(225 4% 75%); //hsl(200, 12%, 92%);

	// color mix
	--cbox-per--bg: 12%;
	--cbox-per--bdc: 40%;
	--cbox-per--txt: 0%;
	--cbox-per--link: 25%;

	// other colors
	--link-c: #50a2ff;
	// --sh-color: hsl(215 8% 8% / 80%);
	--sh-hsl: 215 4% 40%;
	// --sh-a: 20%;
}

.expressive-code {
	--ec-frm-edBg: var(--codeBlock--bgc) !important;
}

.z--mdcontent > h2 {
	position: relative;
	// padding-bottom: 0.25em;
}
.z--mdcontent > h2::after {
	content: '';
	display: block;
	position: absolute;
	// left: -4px;
	// bottom: 0.1em;
	// width: calc(100% + 8px);
	// height: 4px;
	// clip-path: polygon(0 0, 4px 100%, 100% 100%, calc(100% - 4px) 0);
	// background: linear-gradient(
	// 	to bottom,
	// 	color-mix(in srgb, var(--green), transparent 85%) 0%,
	// 	color-mix(in srgb, var(--blue), transparent 75%) 20%,
	// 	color-mix(in srgb, var(--purple), transparent 88%) 50%,
	// 	color-mix(in srgb, var(--pink), transparent 92%) 100%
	// );
	top: 0px;
	left: calc(0px - var(--sl-content-pad-x));
	width: 12px;
	height: 100%;
	background: linear-gradient(
		150deg,
		color-mix(in srgb, var(--green), transparent 85%) 0%,
		color-mix(in srgb, var(--blue), transparent 75%) 30%,
		color-mix(in srgb, var(--purple), transparent 80%) 70%,
		color-mix(in srgb, var(--pink), transparent 90%) 100%
	);
	clip-path: polygon(0 0, 0% 100%, calc(100% - 4px) 100%, 100% 50%, calc(100% - 4px) 0);
	z-index: 1;
}
