@forward './layer';
@forward './tokens';
@forward './reset';

@forward './html/heading';
@forward './html/table';
@forward './html/table.more';
@forward './html/list';
@forward './html/texts';

:root {
	--heading-ff: var(--ff--sans);
	--link-c: #0c61e4;
	// --link-underlineOffset: 0.2ex;

	--hov-trsdu: 0.3s;
	--hov-trsp: filter, opacity, visibility, box-shadow, translate, scale, border, color, background;

	--acc-trsdu: 0.3s;
	--acc-trsprop: margin-block, padding-block, opacity, grid-template-rows; // hov:get:slide でも使用

	// is--overwide で使用
	--overwide-size: 100vw;
}

html {
	font-size: var(--fz--root);
}

body {
	// WPでは、カラー・タイポグラフィなどについては theme.json 設定によって出力される
	background-color: var(--c--base);
	color: var(--c--text);
	font-size: 1rem;
	font-family: var(--ff--root);
	line-height: var(--lh--root);
	// font: 1rem / var(--lh--root) var(--ff--root);
	letter-spacing: var(--lts--root);
	overflow-x: clip;
	// 子孫要素の position:fixed の挙動が変わってしまうので body には使わない
	// container-type: inline-size;
}

// @layer lism-init {

// showModal()にのみ適用するため、 dialog ではなく :modal を使用
body:has(:modal[open]) {
	overflow: hidden;
}

dialog:not([open]) {
	pointer-events: none;
}

/* hrのスタイリング. currentColor */
hr {
	border: none;
	border-block-start: 1px solid;
	block-size: 0;
}
