---
// Memo: SidebarSublistの上書きができないので、Sidebar.astro を上書きしている
import MobileMenuFooter from '@astrojs/starlight/components/MobileMenuFooter.astro';
import SidebarPersister from '@astrojs/starlight/components/SidebarPersister.astro';
// import SidebarSublist from '@astrojs/starlight/components/SidebarSublist.astro';
import SidebarSublist from './SidebarSublist.astro';

const { sidebar } = Astro.locals.starlightRoute;
---

<SidebarPersister>
	<SidebarSublist sublist={sidebar} />
</SidebarPersister>

<div class='md:sl-hidden'>
	<MobileMenuFooter />
</div>
