.b--accordion {
	--isOpened: 0;
	--duration: var(--acc-duration);
	overflow: clip; // bdrs考慮
}

// 開いた時
.b--accordion.-opened {
	--isOpened: 1;
}

.b--accordion__header {
	// cursor: pointer;
	outline-offset: -1px; // overflow:clip|hidden; で見えなくなってしまうのを防ぐ
	align-items: center;
	gap: var(--em--4);
	// :where(&) {
	// 	padding: var(--p--box--s);
	// }

	/* Safariで表示されるデフォルトの三角形アイコンを消します */
	&::-webkit-details-marker {
		display: none;
	}
}

.b--accordion__label {
	flex: 1;
}

.b--accordion__body {
	display: grid;
	grid-template-rows: 1fr;
	transition-property: margin-block, padding-block, opacity, grid-template-rows;
	transition-duration: var(--duration);

	// :where(&) {
	// 	padding: var(--p--box--s);
	// }
}

.b--accordion__inner {
	overflow: hidden; // ※ 正常な animation に必須
}

// 閉じている時
.b--accordion:not(.-opened) {
	> .b--accordion__body {
		opacity: 0.1;
		grid-template-rows: 0fr;
		padding-block: 0 !important;
		margin-block: 0 !important;
	}
}

// アコーディオンブロックのネスト時、別のアイコンタイプにすると表示が崩れるがそこまでは考慮しない。
:where(.b--accordion__icon) {
	font-size: 1.125em;
	background-color: transparent;
	display: inline-flex;

	// [data-clickable="icon"] のとき
	&:where([data-role='trigger']) {
		padding: 0.375em;
		border: solid 1px currentColor;
		border-radius: var(--radius--xs);
	}

	// __icon 自体にborderつけたりすると回転が見えてしまうので、 icon自体を回転させる。
	> .a--icon {
		// grid-area: icon;
		transition: rotate 0.25s;
		rotate: calc(0deg - var(--isOpened) * 180deg);
	}
}
.b--accordion__iconOpen {
	opacity: calc(1 - var(--isOpened));
}
.b--accordion__iconClose {
	opacity: calc(0 + var(--isOpened));
	position: absolute;
	rotate: calc(180deg - var(--isOpened) * 180deg);
}

.b--accordion_header:has([data-role='trigger']) {
	pointer-events: none;
}

.b--accordion__label > a,
.b--accordion__icon {
	pointer-events: auto;
}
// .-opened > .b--accordion__header > .b--accordion__icon {
// 	transform: rotate(180deg);
