---
import Layout from '../layouts/Layout.astro';
import { Lism } from '@lism-ui/astro';
// import Lism from "@lism-ui/astro/components/Lism/Lism.astro";
---

<Layout title='Welcome to Astro.'>
	<main>
		<h1>Welcome to <span class='text-gradient'>Astro</span></h1>
		<Lism bgc='base-2' p='box'>aaa</Lism>
	</main>
</Layout>
