pre {
	padding: var(--p--box);
	background-color: var(--base-2);

	// 横にスクロールできるように
	/* overflow-inline: auto; ← まだ使えない */
	overflow-x: auto; /* 縦書きモードにしてもこれでいける */
}

code,
kbd {
	font-size: 0.9em;
	font-family: var(--ff--mono);
	padding: 0.25em 0.375em;
}

code {
	color: var(--code-c);
	background-color: var(--code-bgc);
	border-radius: var(--radius--s);
}

kbd {
	border-radius: var(--radius--xs);
	border: solid 1px var(--base-3);
	box-shadow: 0 1px 0 var(--base-3);
	color: var(--content);
	background-color: var(--base);
	// padding: 0.25em 0.375em;
}
:where(a) > :is(code, kbd) {
	color: inherit;
	text-decoration: inherit;
}
