/*
	classを持たない素の ul,ol のみブラウザ標準のスタイルを復活させる
*/

:where(ul, ol) {
	padding: 0;
	list-style: none;

	&:not([class]) {
		padding-inline-start: 1.25em;
		list-style: revert;
	}
}

/*
	ブラウザ標準の挙動を優先するパターン
	子要素含めてすべて変更したい時 → CSS変数を使う
*/
// :is(ul, ol) {
// 	padding-inline-start: var(--list-pis, 0);
// 	list-style: var(--list-style, revert);
// }
//  flex, grid ではデフォルトで打ち消す
// :where(.l--flex, .l--stack, .l--grid, .l--columns) {
// 	--list-pis: 0;
// 	--lis: none;
// }
