:where(a) {
	--td: var(--link-td, underline);
	text-decoration: var(--td);
	color: var(--link-c); // --c--link?
}
// :where(p, li) {--link-td: underline;}
// a {
// linkbox を考慮して、リンクの pointer-events: auto;は 明示的に指定しておく?
// pointer-events: auto;
// color: var(--link-c); // --c--link?
// }

// スコア: 0-0-2
a > :is(code, kbd) {
	color: inherit;
	text-decoration: inherit;
}

small {
	font-size: var(--fz--xs);
}
