:root {
	/*
	 * カラー: ユーザー側で定義が必要
	 *    base:main:accent = 70:25:5の法則 ( https://chot.design/concept-of-design/02d49c79f19a/ )
	 *    + α
	 */
	--color--bg: #fdfdfd; // 背景色メイン
	--color--main: #2f4858; // メインカラー
	--color--accent: #be3455; // mainと逆の目立つ色

	// 確定
	--color--link: #0c61e4; // リンク色
	--color--text: #111; // テキスト色
	--color--headline: #00473e; // 見出しカラー
	--color--border: #ccc;
	// --bdc--table: #dcdcdc;

	// どうする
	--color--black: #000;
	--color--white: #fff;
	--color--gray: #f5f5f5; // 薄いグレー色? (baseSub)
	--color--sub: #dde7f0; // main と相性のいい、背景色に使うような薄い色？
	// bg2 ?

	// --color--button: #111; // → main

	// paret
	--red-100: #fef2f2;
	--red-200: #fee2e2;
	--red-300: #fecaca;
	--red-400: #ef4444;
	--red-500: #b91c1c;
	--red-600: #7f1d1d;
	--red-700: #450a0a;

	--orange-100: #fff7ed;
	--orange-200: #ffedd5;
	--orange-300: #fed7aa;
	--orange-400: #f97316;
	--orange-500: #c2410c;
	--orange-600: #7c2d12;
	--orange-700: #431407;

	--yellow-100: #fefce8;
	--yellow-200: #fef9c3;
	--yellow-300: #ffe251; //#fef08a;
	--yellow-400: #f1b808; //#eab308
	--yellow-500: #a16207;
	--yellow-600: #713f12;
	--yellow-700: #422006;

	--green-100: #ecfdf5;
	--green-200: #d1fae5;
	--green-300: #a7f3d0;
	--green-400: #10b981;
	--green-500: #047857;
	--green-600: #064e3b;
	--green-700: #022c22;

	--blue-100: #f0f9ff;
	--blue-200: #e0f2fe;
	--blue-300: #bae6fd;
	--blue-400: #0ea5e9;
	--blue-500: #0369a1;
	--blue-600: #0c4a6e;
	--blue-700: #082f49;

	--purple-100: #f5f3ff;
	--purple-200: #ede9fe;
	--purple-300: #ddd6fe;
	--purple-400: #8b5cf6;
	--purple-500: #6d28d9;
	--purple-600: #4c1d95;
	--purple-700: #2e1065;

	--pink-100: #fdf2f8;
	--pink-200: #fce7f3;
	--pink-300: #fbcfe8;
	--pink-400: #ec4899;
	--pink-500: #be185d;
	--pink-600: #831843;
	--pink-700: #500724;

	--gray-100: #f9fafb;
	--gray-200: #edeff1;
	--gray-300: #d1d5db; //#e5e7eb;
	--gray-400: #646b79; // 6b7280
	--gray-500: #4b5563;
	--gray-600: #111827;
	--gray-700: #030712;
}

//カラー系
[class*='-c:'] {
	color: var(--c) !important;
}
.-c\:base {
	--c: var(--color--bg);
}
.-c\:main {
	--c: var(--color--main);
}
.-c\:accent {
	--c: var(--color--accent);
}

.-c\:link {
	--c: var(--color--link);
}
.-c\:text {
	--c: var(--color--text);
}

.-c\:gray {
	--c: var(--gray);
}
.-c\:white {
	--c: #fff;
}
.-c\:black {
	--c: #000;
}

[class*='-bgc:'] {
	background-color: var(--bgc) !important;
}

.-bgc\:base {
	--bgc: var(--color--bg);
}
.-bgc\:main {
	--bgc: var(--color--main);
}

.-bgc\:accent {
	--bgc: var(--color--accent);
}

.-bgc\:text {
	--bgc: var(--color--text);
}
.-bgc\:link {
	--bgc: var(--color--link);
}

.-bgc\:gray {
	--bgc: var(--color--gray);
}
.-bgc\:white {
	--bgc: #fff;
}
.-bgc\:black {
	--bgc: #000;
}

// #wrapper{
// 	--color--bg: #000; // 背景色メイン
// 	--color--text: #fff; // メインカラー
// 	background-color: var(--color--bg);
// 	color: var(--color--text);
// }

[class*='-cbox:'] {
	--keyColor: currentColor; //var(--color--main);
	--c: color-mix(in srgb-linear, var(--keyColor), var(--color--text) 96%);
	--bgc: color-mix(in srgb-linear, var(--keyColor), var(--color--bg) 94%);
	--bdc: color-mix(in srgb-linear, var(--keyColor), var(--color--bg) 50%);
	color: var(--c);
	background-color: var(--bgc);
	border: solid 1px var(--bdc);
}

// -cbox: --cを使う?

// [class*="-cbox:"]{
// 	color: var(--c);
// 	background-color: var(--bgc);
// 	border: solid 1px var(--bdc);
// }

.-cbox\:main {
	--keyColor: var(--color--main);
}

.-cbox\:gray {
	--keyColor: var(--gray-400);
	// --c: var(--gray-700);
	// --bgc: var(--gray-100);
	// --bdc: var(--gray-300);
	// --color--link: var(--gray-500);
}
.-cbox\:red {
	--keyColor: var(--red-400);
	// --c: var(--red-700);
	// --bgc: var(--red-100);
	// --bdc: var(--red-300);
	// --color--link: var(--red-500);
}
.-cbox\:orange {
	--keyColor: var(--orange-400);
	// --c: var(--orange-700);
	// --bgc: var(--orange-100);
	// --bdc: var(--orange-300);
	// --color--link: var(--orange-500);
}
.-cbox\:yellow {
	--keyColor: var(--yellow-400);
	// --c: var(--yellow-700);
	// --bgc: var(--yellow-100);
	// --bdc: var(--yellow-300);
	// --color--link: var(--yellow-500);
}
.-cbox\:green {
	--keyColor: var(--green-400);
	// --c: var(--green-700);
	// --bgc: var(--green-100);
	// --bdc: var(--green-300);
	// --color--link: var(--green-500);
}
.-cbox\:blue {
	--keyColor: var(--blue-400);
	// --c: var(--blue-700);
	// --bgc: var(--blue-100);
	// --bdc: var(--blue-300);
	// --color--link: var(--blue-500);
}
.-cbox\:purple {
	--keyColor: var(--purple-400);
	// --c: var(--purple-700);
	// --bgc: var(--purple-100);
	// --bdc: var(--purple-300);
	// --color--link: var(--purple-500);
}
.-cbox\:pink {
	--keyColor: var(--pink-400);
	// --c: var(--pink-700);
	// --bgc: var(--pink-100);
	// --bdc: var(--pink-300);
	// --color--link: var(--pink-500);
}

// [class*="-fill:"]{
// 	--c: #fff; // reverse用に定義
// 	// --bdc: var(--bgc);
// 	--c--icon: currentColor;
// 	--color--link: currentColor;
// 	color: var(--c);
// 	background-color: var(--bgc);
// 	border: solid 1px var(--bgc);
// }

// .-fill\:main{
// 	--bgc: var(--color--main);
// }
// .-fill\:red{
// 	--bgc: var(--red-400);
// }
// .-fill\:orange{
// 	--bgc: var(--orange-400);
// }
// .-fill\:yellow{
// 	--bgc: var(--yellow-400);
// }
// .-fill\:green{
// 	--bgc: var(--green-400);
// }
// .-fill\:blue{
// 	--bgc: var(--blue-400);
// }
// .-fill\:purple{
// 	--bgc: var(--purple-400);
// }
// .-fill\:pink{
// 	--bgc: var(--pink-400);
// }
// .-fill\:gray{
// 	--bgc: var(--gray-400);
// }

// ※ outlineプロパティに対するユーティリティを作る場合は .-ol:
// outline? olbox? linebox?
// [class*="-outline:"]{
// 	--c: var(--bdc); // reverse用に定義
// 	--c--icon: var(--bdc);
// 	color: var(--c);
// 	border: solid 1px var(--bdc);

// 	&.-hov\:reverse:hover{
// 		--bgc:#fff;
// 	}

// 	&.b--alert{
// 		color: inherit;
// 	}
// }

// .-outline\:red{
// 	--bdc: var(--red-400);
// }
// .-outline\:orange{
// 	--bdc: var(--orange-400);
// }
// .-outline\:yellow{
// 	--bdc: var(--yellow-400);
// }
// .-outline\:green{
// 	--bdc: var(--green-400);
// }
// .-outline\:blue{
// 	--bdc: var(--blue-400);
// }
// .-outline\:purple{
// 	--bdc: var(--purple-400);
// }
// .-outline\:pink{
// 	--bdc: var(--pink-400);
// }
// .-outline\:gray{
// 	--bdc: var(--gray-400);
// }
