// 基本は --gap で管理し、rowg/colmg は必要に応じて上書きできるようにするパターン
// 常に rowg/colmg を受け取れるようにはならないので、colmg を計算で使いたい時に注意が必要になる。
.is--flex,
.is--grid {
	// --gapだけwidth,heightなどと同じ感じ？
	--gap: var(--s--50); // ここで初期値与えるべきかは要検討
	--gap--sm: var(--gap);
	--gap--xs: var(--gap--sm);
	gap: var(--gap);

	@container (max-width: 720px) {
		gap: var(--gap--sm);
	}

	@container (max-width: 440px) {
		gap: var(--gap--xs);
	}
}

// row, column方向に個別指定して上書きしたい時
// .has--gap {
// 	gap: var(--gap) !important;
// }
.has--rowg {
	column-gap: var(--rowg) !important;
}
.has--colmg {
	row-gap: var(--colmg) !important;
}

@container (max-width: 720px) {
	// .has--gap\@sm { gap: var(--gap--sm) !important;}
	.has--rowg\@sm {
		column-gap: var(--rowg--sm) !important;
	}
	.has--colmg\@sm {
		row-gap: var(--colmg--sm) !important;
	}
}

@container (max-width: 440px) {
	// .has--gap\@xs { padding: var(--gap--xs) !important;}
	.has--rowg\@xs {
		column-gap: var(--rowg--xs) !important;
	}
	.has--colmg\@xs {
		row-gap: var(--colmg--xs) !important;
	}
}
