
// この方式だと、セレクタ負荷が高すぎる。かつ、CSSファイルから --p 系の初期セットなどもできない。
[style*="--pt:"]{
	padding-top: var(--pt) !important;
}
[style*="--pr:"]{
	padding-right: var(--pr) !important;
}
[style*="--pb:"]{
	padding-bottom: var(--pb) !important;
}
[style*="--pl:"]{
	padding-left: var(--pl) !important;
}
[style*="--p:"]{
	padding: var(--p) !important;
}

@container (max-width: 720px) {
	
	[style*="--pt--sm:"]{
		padding-top: var(--pt--sm) !important;
	}
	[style*="--pr--sm:"]{
		padding-right: var(--pr--sm) !important;
	}
	[style*="--pb--sm:"]{
		padding-bottom: var(--pb--sm) !important;
	}
	[style*="--pl--sm:"]{
		padding-left: var(--pl--sm) !important;
	}
	[style*="--p--sm:"]{
		padding: var(--p--sm) !important;
	}
}

@container (max-width: 440px) {
	[style*="--pt--xs:"]{
		padding-top: var(--pt--xs) !important;
	}
	[style*="--pr--xs:"]{
		padding-right: var(--pr--xs) !important;
	}
	[style*="--pb--xs:"]{
		padding-bottom: var(--pb--xs) !important;
	}
	[style*="--pl--xs:"]{
		padding-left: var(--pl--xs) !important;
	}
	[style*="--p--xs:"]{
		padding: var(--p--xs) !important;
	}
}
