

.has--w{
	--w: auto;
	--w--sm: var(--w);
	--w--xs: var(--w--sm);

	width: var(--w) !important;
	@container (max-width: 720px) {
		width: var(--w--sm) !important;
	}
	@container (max-width: 440px) {
		width: var(--w--xs) !important;
	}
}

.has--h{
	--h: auto;
	--h--sm: var(--h);
	--h--xs: var(--h--sm);

	height: var(--h) !important;
	@container (max-width: 720px) {
		height: var(--h--sm) !important;
	}
	@container (max-width: 440px) {
		height: var(--h--xs) !important;
	}
}
