/**
 * Lismに入るものではなく、テーマやプロジェクト側でセットしてもらうようなCSS郡。
 * 
 * フロント用CSSの中ではそのままimportし、エディター用CSSの中では .editor-styles-wrapper でラップして読み込む？
	→ body{} もここに書くならエディターには add_editor_style() で読み込むべきか...。
 */

// body に関するCSSここでいいかは要検討. reset?
body {
	position: relative;
	min-width: 100%;
	max-width: 100%;
	overflow-x: clip;
	overflow-wrap: break-word;
	-webkit-text-size-adjust: 100%;
	container-type: inline-size;
}

// リスト
ul,
ol {
	padding-left: var(--s--50);
}

/* ---------- pre ---------- */
pre,
code {
	-moz-tab-size: 4;
	tab-size: 4;
}

pre {
	padding: var(--s--50);
	overflow-x: auto;
	background-color: var(--c--lightgray);

	code {
		font-size: var(--fz--s);
		font-family: Menlo, Consolas, monaco, monospace;
	}
}

/* ---------- 横線 ---------- */
hr:not(.wp-block-separator) {
	border: none;
	border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

/* ---------- インライン装飾 ---------- */
kbd,
:not(pre) > code {
	display: inline-block;
	color: #323232;
	background: #edf0f3;
	padding: 0 var(--s--10);
	font-size: var(--fz--s); // .9em;
	font-family: Menlo, Consolas, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', 'メイリオ',
		sans-serif;
	line-height: 1.5;
	letter-spacing: 0;
	text-decoration: inherit;
	border-radius: 3px;
}

kbd {
	background-color: #fbfbfb;
	box-shadow:
		0 1px 0 1px rgba(0, 0, 0, 0.15),
		0 0 1px rgba(0, 0, 0, 0.1);
}

small {
	font-size: var(--fz--xs);
	// opacity: var(--ls--opacity--thin);
}

caption {
	font-size: var(--fz--s);
}
// sup,
// sub {
// 	font-size: .75em;
// }

//---------------------------------------
// 表
//---------------------------------------
table {
	width: 100%;
	max-width: 100%;
	// line-height: 1.6;
	text-align: left;
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: var(--s--20);
	border: 1px solid var(--ls--bdc--table, #dcdcdc);
}

th {
	font-weight: bold;
}

thead {
	border-bottom: solid 2px;
	td,
	th {
		// color: var(--thead-color--txt, #fff);
		// background-color: var(--thead-color--bg, var(--color_main));
	}
}

// ?
:where(table) caption {
	margin-bottom: 0.25em;
	opacity: 0.8;
}

//---------------------------------------
// フォーム要素
//---------------------------------------
input,
textarea,
select,
button {
	padding: 0.25em 0.5em;
	color: #333;
	border: 1px solid var(--ark-color--border);
	border-radius: 0;
}
