:root {
	// 各fzサイズ用のline-height
	--ls--6L--lh: 1.2;
	--ls--5L--lh: 1.4;
	--ls--4L--lh: 1.4;
	--ls--3L--lh: 1.5;
	--ls--2L--lh: 1.6;
	--ls--L--lh: 1.6;

	// 1,
	// 1.25, 5XL
	// 1.4 4XL
	// 1.5, 2XL, 3XL,
	// 1.6, L XL
	// 1.75 base
	// 2,
	// 2.5

	// 1, xs    sm   md,  lg  xl
	// 1, 1.25, 1.5. 1.75, 2,  2.5
}

h1 {
	--lh: var(--ls--4L--lh);
}
h2 {
	--lh: var(--ls--3L--lh);
}
h3 {
	--lh: var(--ls--2L--lh);
}
h4 {
	--lh: var(--ls--L--lh);
}
// h5 {}
// h6 {}

// .-fz\:xs {}
// .-fz\:s {}
// .-fz\:m {}
.-fz\:l {
	--lh: var(--ls--L--lh);
}
.-fz\:xl {
	--lh: var(--ls--2L--lh);
}
.-fz\:2xl {
	--lh: var(--ls--3L--lh);
}
.-fz\:3xl {
	--lh: var(--ls--4L--lh);
}
.-fz\:4xl {
	--lh: var(--ls--5L--lh);
}
.-fz\:5xl {
	--lh: var(--ls--6L--lh);
}
