---

---

<div class='c--preview_title l--flex -ai:c -g:20 -mb:10' {...Astro.props || {}}>
	<span class='__decorator l--center'>↓</span>
	<div class='c--previewTitle__text -fz:s -fx:1'><slot /></div>
</div>
