---
import { Frame, Center } from '@lism-ui/astro';
import Button from '~/components/ex/Button/index.astro';

interface Props {
	[key: string]: any;
}
const { isInline = false, url, ...props } = Astro.props;
---

{
	!isInline ? (
		<>
			<Frame aspect='4/3' bxsh='1'>
				<Frame className='u--scalePreview' aspect='4/3' bdrs='3' bd bdw='3px' {...props}>
					<iframe src={url} width='800' height='600' />
				</Frame>
			</Frame>
			<Center mbs='40'>
				<Button href={url} variant='fill' target='_blank' bdrs='2'>
					大きい画面で見る
				</Button>
			</Center>
		</>
	) : (
		<Frame aspect='4/3' {...props}>
			<iframe src={url} width='800' height='600' />
		</Frame>
	)
}

<style is:global>
	.u--scalePreview {
		max-width: unset;
		width: 160%;
		transform: scale(0.625);
		transform-origin: 0 0;
	}
	.u--scalePreview > iframe {
		width: 100%;
		height: 100%;
	}
</style>
