// 方針 : td,thにボーダーをつける。
//    そのほうが特定のセルだけのボーダーカスタマイズもしやすい.
//    ただし、スクロール時にsticky要素の border が表示されない問題に対応するため、変数でのプロパティ管理を行う。

.l--table {
	:where(&) {
		--bdwY: 1px;
		--bdwX: 1px;
		--bds: solid;
		--bdc: var(--c--divider);

		// collape にしているので、 1pxだと見えないことに注意。
		--thead-bdbe: solid 2px;
		--tfoot-bdbs: solid 2px;
	}

	border: none;
	border-collapse: collapse; // memo: oveflow の指定によっては separate にしないとborderが表示されない場合があるので横スクロール時には注意。
	border-spacing: 0;
	isolation: isolate;
	max-inline-size: 100%;

	:where(td, th),
	:where(td, th)::before {
		border-width: var(--bdwY) var(--bdwX);
		border-color: var(--bdc);
		border-style: var(--bds);
	}

	> thead {
		border-block-end: var(--thead-bdbe);
	}

	> tfoot {
		border-block-start: var(--tfoot-bdbs);
	}
}
