:where(.b--badge) {
	--bdc: currentColor;
	padding-inline: 0.5em;
	display: inline-flex; // 文中でもpaddingが効くように
	border: solid 1px var(--bdc); // 別スタイルを並べてもサイズに差が出ないようにborderを指定
}

.b--badge--fill {
	background-color: var(--c--text);
	color: var(--c--base);
	--bdc: transparent;
}
// .b--badge--outline {
// 	--bdc: currentColor;
// }
// .b--badge--subtle {
// }
