:where(.b--badge) {
	display: inline-flex; // 文中でもpaddingが効くように
	font-size: var(--fz--xs);
	border-radius: var(--radius--xs);
	padding-inline: var(--em--3);
	gap: var(--em--2);
	align-items: center;
}

// -boxcolor とセットで使う
.b--badge {
	// --boxcolor: var(--content);
	// --c: var(--boxcolor);
	// --bdc: transparent;
	// --bgc: transparent;
	--cbox-mixper--txt: 50%;
	// color: var(--c);
	// background-color: var(--bgc);
	border: solid 1px var(--bdc); // サイズ揃えるために常にborderを指定
}

.b--badge--fill {
	--cbox-c: var(--base);
	--cbox-bgc: var(--boxcolor);
	// --c: var(--base);
	// --bgc: var(--boxcolor);

	--cbox-bdc: transparent;
}
.b--badge--outline {
	--cbox-c: var(--boxcolor);
	--cbox-bdc: var(--boxcolor);
	--cbox-bgc: transparent;
}
// .b--badge--subtle {
// }
