// dialog,
:where(.d--modal) {
	// --maxIs: 100%; // container直下にきても影響しないように
	--mbs: 0; // flow直下にきても影響しないように
	--offset: 0 0;
	// --trsdu: 0.5s;
	--backdrop: rgb(0 0 0 / 0.6);

	// transition-property: opacity, translate;
	transition-duration: var(--trsdu--modal);

	&::backdrop {
		transition: opacity var(--trsdu--modal);
		background: var(--backdrop);
	}
}

.d--modal__body {
	overscroll-behavior: contain;
}

.d--modal:not([data-is-open]) {
	translate: var(--offset);
}
.d--modal:not([data-is-open]),
.d--modal:not([data-is-open])::backdrop {
	opacity: 0;
}

// .d--modal--drawer:not([data-is-open]) {
// 	translate: var(--offset);
// }
