---
import DemoPageLayout from '~/layouts/DemoPageLayout.astro';
import DemoHeader from '../DemoHeader.astro';
import DemoFooter from '../DemoFooter.astro';
import DemoContent from '../DemoContent.astro';
import { Container, Box, Stack } from '@lism-ui/astro';
---

<DemoPageLayout>
	<Stack id='wrap' minH='100vh'>
		<DemoHeader />
		<Box tag='main' py='60' flexItem={{ fx: 1 }}>
			<Box tag='article'>
				<Container size='m' tag='header' hasGutter>
					<h1>Page Title</h1>
				</Container>

				<Container size='m' hasGutter isFlow mbs='60'>
					<DemoContent />
				</Container>

				<Container tag='aside' size='m' hasGutter mbs='60'>
					<Box bgc='base-2' p='50'>
						<div>Comment area, etc...</div>
					</Box>
				</Container>
			</Box>
		</Box>
		<DemoFooter />
	</Stack>
</DemoPageLayout>
