---
import DemoPageLayout from '~/layouts/DemoPageLayout.astro';
import OneColumn from '~/layouts/one-column.jsx';
import { Container, Flow, Spacer } from '@loos/lism-astro';
---

<DemoPageLayout>
	<header>DEMO Header</header>
	<OneColumn title='1 column ariticle page.'>
		<Flow>
			<p>
				ロレム・イプサムの座り雨、トマ好き学習エリット、しかし時と活力、そのような躍動と楽しみ、ブラインド行うにはいくつかの重要な事柄に座ります。長年にわたり、私は学区と長寿であれば、そのような刺激の取り組み、彼女のうち、運動の利点を分注を邪魔されたする人が来ます。クピダタットのつるの痛みになりたい宿題に、批判されてきたら痛み、マグナ逃亡しても結果の喜びを生成しません。先例クピダタットブラックは先例していない、つまり、彼らはあなたの悩みに責任がある人の、一般的な義務を捨て、魂を癒しています。
			</p>
			<ul>
				<li>list</li>
				<li>list</li>
				<li>list</li>
			</ul>
		</Flow>
	</OneColumn>
</DemoPageLayout>
