/* fill指定のない svg にテキストカラーを継承させる */
:where(.l--icon:not([fill])) {
	fill: currentcolor;
}

:where(.l--icon:not([width])) {
	width: 1em;
	height: 1em;
}

.l--icon {
	--scale: 1;
	--offset: 0;
	scale: var(--scale);
	translate: var(--offset);
	display: inline-flex;
	vertical-align: middle; //下にスペースができるのを防ぐ
	flex-shrink: 0; // Callout など、アイコンはflex直下の子要素にしたい場合も多いので、指定しておく
}

.l--icon:where(.has--mask) {
	background: currentColor;
}

.l--icon--inline {
	--scale: 1.125; // inline時、余白でテキストより小さく見えがちなのでほんの少し拡大する
	vertical-align: -0.125em; // scale とは無関係
	margin-inline: calc(1em * (var(--scale) - 1) / 2);
}
