:root {
	// --link-underlineOffset: 0.2ex;

	--focus--outlineColor: revert;
	--focus--outlineOffset: 1px;
}

// フォーカス要素
:where(:focus-visible) {
	outline-color: var(--focus-outlineColor);
	outline-offset: var(--focus-outlineOffset);
}

small {
	font-size: var(--fz--xs);
}

// blockquote {
// 	& > :where(footer, cite) {
// 		margin-block-start: var(--s20);
// 	}
// }

// figure > figcaption {
// 	font-size: var(--fz--s);
// }
