// .c--preview_area {
// 	--trsp: filter, opacity, visibility, box-shadow, translate, scale, border-color, color,
// 		background-color;
// }

// --------------------
// hover
// --------------------
@media (any-hover: hover) {
	.-hov\:shadowUp:hover {
		box-shadow: var(--bxsh--4);
		translate: 0 -3px;
	}
}

// ほんとは: @container style(--isHov:1)
.-hov\:get\:zoom {
	scale: calc(1 + 0.1 * var(--isHov));
}
.-hov\:get\:letterSpread {
	letter-spacing: calc(0.125em * var(--isHov));
}

.-hov\:get\:slide {
	--gtr: 0fr;
	opacity: var(--isHov);
	transition-property: margin-block, padding-block, opacity, grid-template-rows;

	// calc() で fr単位が使えない
	.-hov\:pass:hover & {
		--gtr: 1fr;
	}
}

// .-hov\:dark:hover {
// 	filter: brightness(0.8) contrast(1.2); //grayscale(5%);
// }
// .-hov\:bright:hover {
// 	filter: brightness(1.2) contrast(1.2); //grayscale(5%);
// }
// .-hov\:scale:hover {
// 	scale: 1.05;
// }

// --------------------
// reverse
// --------------------
.-hov\:reverse {
	--hov-c: var(--bgc);
	--hov-bgc: var(--c);
	&:where(.c--button--fill) {
		--hov-bgc: transparent;
	}
	&:where(.c--button--outline) {
		--hov-c: var(--c--base);
	}
	@media (any-hover: hover) {
		&:hover {
			background-color: var(--hov-bgc) !important;
			color: var(--hov-c) !important;
		}
	}
}
