.-ar\:golden {
	aspect-ratio: 16.18/10;
}
.-ar\:silver {
	aspect-ratio: 14.14/10;
}
.-ar\:bronze {
	aspect-ratio: 33.03/10;
}
.-ar\:ogp {
	aspect-ratio: 1.91/1;
}
.-ar\:cinema {
	aspect-ratio: 2.35/1;
}

// --------------------
// bd
// --------------------
.-bd\:guide {
	--bds: dashed;
	--bdc: rgba(160, 160, 160, 0.3);
	border: var(--bd);
	// border: 1px dashed rgba(160, 160, 160, 0.4);
}

// --------------------
// keycolor
// --------------------
// $colors: 'red', 'orange', 'yellow', 'green', 'blue', 'purple', 'pink', 'gray';
// @each $c in $colors {
// 	.-keycolor\:#{$c} {
// 		--keycolor: var(--#{$c});
// 	}
// }

// --------------------
// Button offset
// --------------------
// :where(.b--button) {
// 	--icon-scale: 1.25;
// 	--icon-offset: 0%;
// }

// .b--button__icon {
// 	&:where(:first-child) {
// 		translate: calc(0px - var(--icon-offset));
// 	}
// 	&:where(:last-child) {
// 		translate: var(--icon-offset);
// 	}
// }

.b--button:where(.-d\:g) {
	grid-template-columns: 1em 1fr 1em;
	justify-items: center;

	> span {
		grid-column: 2;
	}
}

// --------------------
// ...
// --------------------

// .a--icon--emoji {
// 	// emoji 考慮
// 	font-family: var(--ff--emoji);
// 	line-height: 1;
// 	place-content: center; // justify-content: center;
// 	place-items: center; // align-items: center;
// }
// .a--icon--mask {
// 	width: 1em;
// 	height: 1em;
// 	background-color: currentColor;
// 	mask: var(--icon-mask) no-repeat 50% 50% / contain;
// }

// --------------------
// Accordion
// --------------------
.d--accordion__icon {
	> .a--icon:nth-last-of-type(2) {
		opacity: calc(1 - var(--opened));
	}
	> .a--icon:nth-of-type(2) {
		opacity: calc(0 + var(--opened));
		rotate: calc(180deg - var(--opened) * 180deg);
	}
}
