/* Memo: ovx='auto' の時に margin がネガティブだとアウトなので、borderではなくbox-shadowで表現する。 */
:where(.d--tabs--line) {
	--sh-size: inset 0 -2px;

	.d--tabs__list {
		box-shadow: var(--sh-size) 0 var(--c--divider);
	}
	.d--tabs__tab {
		font-size: var(--fz--s);
		padding: 0.5em 0.875em;
		box-shadow: var(--_isActive, var(--sh-size) 0 0 currentColor);
	}
}

:where(.d--tabs--emboss) {
	.d--tabs__list {
		padding: 4px;
		font-size: var(--fz--s);
		background-color: var(--c--base-2);
		border-radius: var(--bdrs--2);
	}
	.d--tabs__tab {
		padding: 0.25em 0.75em;
		border-radius: calc(var(--bdrs--2) - 2px); /* 親の bdrs - 親のpadding / 2 */
		background-color: var(--_isActive, var(--c--base));
		box-shadow: var(--_isActive, var(--bxsh--1));
	}
}

.c--preview_code .d--tabs__tab {
	// font-size: var(--fz--s);
	// padding: 0.5em 0.875em;
}

// Opt-in
[data-tabs-keep-height='keep'] > [aria-hidden='true'] {
	display: block;
	visibility: hidden;
	opacity: 0;

	// さらに、アニメーションつけるなら
	// transform: translateY(8px);
	// transition-duration: 0s;
}
