@use '../../scss/query' as query;

:where(.c--tabs) {
	--tab-c: var(--c--text);
	--tab-c--active: var(--c--base);
	--tab-bgc: var(--c--base-2);
	--tab-bgc--active: var(--c--text);
	gap: 1em;
}
.c--tabs {
	grid: 'list' 'panel' / 100%;
	--gd--hz: 'list panel' auto / auto 1fr; //--gd--vt?
}

// .c--tabs--default {
// 	--tab-c--active: var(--c--base);
// 	--tab-bgc--bgc: var(--c--text);
// }

.c--tabs__list {
	// position: relative;
	grid-area: list;

	// 以下のどっちか
	overflow-x: auto;
	// flex-wrap: wrap;
}

.c--tabs__tab {
	// display: flex;
	padding: 0.625em 0.875em;
	line-height: 1.5;
	// align-items: center;
	// gap: 0.25em;
	color: var(--tab-c);
	background-color: var(--tab-bgc);

	// 以下をオンオフできると便利か
	// flex: 1;
	// white-space: nowrap;

	&:where([aria-selected='true']) {
		color: var(--tab-c--active);
		background-color: var(--tab-bgc--active);
	}
	// &[aria-selected='false'] {}
}

.c--tabs__panel {
	// position: relative;
	grid-area: panel;
	width: 100%;
	&:where([aria-hidden='true']) {
		display: none;
	}
}

// [data-tabs-height="keep"]
[data-tabs-height='keep'] {
	> :where([aria-hidden='true']) {
		display: block;
		visibility: hidden;
		opacity: 0;
		// transform: translateY(8px);
		// transition-duration: 0s;
	}
}

// [data-tabs-align="vertical"]
// @include query.bp-up('sm') {
// 	.c--tabs:where([data-tabs~='vertical']) {
// 		grid: var(--gd--hz);

// 		// 縦並びの時・ memo: rtl対応必要
// 		// :where(.c--tabs--line)[data-tabs~='vertical'] {
// 		// }
// 		> .c--tabs__list {
// 			// --shadowOfset: inset -2px 0; // .c--tabs--line用
// 			flex-direction: column;
// 		}
// 	}
// }
