@use '../../scss/query' as query;

// l--grid--gt
:where(.c--tabs) {
	// position: relative;
	--active-c: var(--content);
	--active-bgc: transparent;
	--tab-radii: 0;
	--tab-p: var(--p--box--s); //var(--em--4) var(--em--6);
	// grid-template: var(--gt);
	// max-width: 100% !important;
	// width: 100% !important;
	--gap: var(--em--6);
}
.c--tabs {
	--gt: 'list' 'panel' / 100%;
	gap: var(--gap);
}

.c--tabs--default {
	--active-bgc: var(--base-2);
}

.c--tabs__list {
	grid-area: list;
	position: relative;
}

.c--tabs__tab {
	display: flex;
	padding: var(--tab-p);
	border-radius: var(--tab-radii);
	align-items: center;
	gap: var(--em--2);

	:where(&) > .a--icon {
		font-size: 1.25em;
	}

	&:where([aria-selected='true']) {
		color: var(--active-c);
		background-color: var(--active-bgc);
	}
	// &[aria-selected='false'] {}
}

.c--tabs__panel {
	// position: relative;
	grid-area: panel;
	width: 100%;
	&:where([aria-hidden='true']) {
		display: none;
	}
}

[data-tabs~='keep-height'] {
	> :where([aria-hidden='true']) {
		display: block;
		visibility: hidden;
		opacity: 0;
		// transform: translateY(8px);
		// transition-duration: 0s;
	}
}

@include query.bp-up('sm') {
	.c--tabs:where([data-tabs~='vertical']) {
		--gt: 'list panel' auto / auto 1fr;

		// 縦並びの時・ memo: rtl対応必要
		// :where(.c--tabs--line)[data-tabs~='vertical'] {
		// }
		> .c--tabs__list {
			--shadowOfset: 2px 0; // .c--tabs--line用
			--fxd: column;
		}
	}
}
