<div>
	<input type='text' placeholder='input' />
</div>
<div>
	<textarea placeholder='textarea'></textarea>
</div>
<div>
	<select>
		<option value='1'>Option 1</option>
		<option value='2'>Option 2</option>
		<option value='3'>Option 3</option>
	</select>
</div>
<div>
	<button>Button</button>
</div>
<div>
	<label class='l--flex -ai:c -g:5'>
		<input type='checkbox' />
		<span>Checkbox</span>
	</label>
	<label>
		<input type='checkbox' />
		<span>Checkbox</span>
	</label>
	<label>
		<input type='radio' name='radio' checked />
		<span>Radio</span>
	</label>
	<label>
		<input type='radio' name='radio' />
		<span>Radio</span>
	</label>
	<label>
		<input type='range' min='0' max='100' value='50' />
		<span>Range</span>
	</label>
</div>
