<h1>h1: heading</h1>
<h2>h2: heading</h2>
<h3>h3: heading</h3>
<h4>h4: heading</h4>
<h5>h5: heading</h5>
<h6>h6: heading</h6>

<hr />

<p>p: Lorem ipsum dolor sit amet, <a href='#' title='test link'>test link</a> adipiscing elit.</p>
<p>
	inlines: <b>b: text</b> | <strong>strong: text</strong> |
	<em>em: text</em> | <i>i: text</i> | <small>small: text</small> |
	<sup>sup: text</sup> | <sub>sub: text</sub> |
	<code>code: text</code> | <kbd>kbd</kbd> | <mark>mark: text</mark> |
	<abbr title='Avenue'>abbr: text</abbr> | <q cite='...'>q: text</q> |
	<dfn>dfn: text</dfn> | <samp>samp: text</samp>
</p>
<p>ruby: <ruby>紫陽花<rt>あじさい</rt></ruby>, <ruby>踝<rt>くるぶし</rt></ruby></p>
<p>ruby(with rp): <ruby>聖剣<rp>(</rp> <rt>エクスカリバー</rt> <rp>)</rp></ruby></p>

<hr />

<blockquote>
	<p>blockquote: Lorem ipsum dolor sit amet, Nunc iaculis suscipit dui.</p>
	<footer>- <cite>Lorem ipsum, https://example.com</cite></footer>
</blockquote>

<pre>
pre :
	Lorem ipsum dolor sit amet, Nunc iaculis suscipit dui.
		Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum.
</pre>
