:where(.c--button) {
	--c: currentColor;
	--bgc: transparent;
	--bdc: transparent;

	display: inline-flex;
	line-height: 1.5;
	padding: 0.625em 1em;
	text-decoration: none;
}

:where(.c--button--fill) {
	--c: var(--c--base);
	--bgc: var(--c--text);
	--bdc: var(--bgc);
}

:where(.c--button--outline) {
	--c: var(--c--text);
	--bdc: var(--c);
}

.c--button {
	color: var(--c);
	background-color: var(--bgc);
	border: solid 1px var(--bdc); /* 異なる variant を並べてもサイズに差が出ないようにborderを常に指定 */
	align-items: center;
}
.c--button:where(.-d\:g) {
	grid-template-columns: 1em 1fr 1em;
	justify-items: center;

	> span {
		grid-column: 2;
	}
}

:where(.c--button) > .l--icon {
	--scale: 1.125;
}
