---
import { Flex, Divider } from '@lism-ui/astro';

const { textPosition, bd = 'bs', bdc = 'currentColor', bdw, bds, ...props } = Astro.props;

const bdProps = { bd, bdc, bdw, bds };
---

<Flex lismClass='c--dividerLabel' ai='c' g='30' lh='1' {...props}>
	{textPosition !== 'start' && <Divider op='mid' fx='1' {...bdProps} />}
	<div class='c--dividerLabel__text'><slot /></div>
	{textPosition !== 'end' && <Divider op='mid' fx='1' {...bdProps} />}
</Flex>
