// Alert は .-boxcolor とセットで使う.

// 初期値
:where(.c--alert) {
	border-radius: var(--radius--m);
	padding: 1em; //var(--p--box--s);
	gap: 0.5em 0.75em;
}

.c--alert {
	--boxcolor: var(--gray);
	--fluid--minW: 16rem; // .l--fluidFix より優先度高くなるように注意
	// --bdc: var(--boxcolor);
	align-items: center;
	border: solid 1px var(--bdc); // .-boxcolor 側で定義している --bdc そのまま使う
	// background-color: var(--bgc);
}

.c--alert__icon {
	margin-block: 0.125em;
	color: var(--boxcolor, currentColor);
	font-size: var(--fz--xl); //1.4rem;
}
