---
import DemoPageLayout from '~/layouts/DemoPageLayout.astro';
import {
	Lism,
	Frame,
	Flex,
	Media,
	Spacer,
	Box,
	Grid,
	Dummy,
	Text,
	Container,
	Layer,
	Stack,
	FlexItem,
	Center,
} from '@lism-ui/astro';
import ShapeDivider from '~/components/ex/ShapeDivider/index.astro';
import '~/components/ex/ShapeDivider/style.scss';
// import './style.scss';
---

<DemoPageLayout>
	<Lism hasGutter py={50} isContainer='s' isFullwide>
		<Stack isFullwide minH='50vh' bgc='base-2'>
			<Container size='m' hasGutter isFlow my='auto'>
				<Text fw='bold' fz='xl'>DEMO 01</Text>
				<Dummy length='l' lang='ja' />
			</Container>
		</Stack>
		<Stack isFullwide minH='70vh' g='30' c='white' pos='r'>
			<Frame isLayer>
				<Media isLayer src='/img/img-1.jpg' alt='' width='960' height='640' />
				<Layer blur='4px' bgc='black:50%' />
			</Frame>
			<Flex jc='sb' p='30' z='0' g='30'>
				<Box>Header</Box>
				<Flex g='30'>
					<div>XXX</div>
					<div>XXX</div>
				</Flex>
			</Flex>
			<Container size='m' hasGutter isFlow my='auto'>
				<Text fw='bold' fz='xl'>DEMO 02</Text>
				<Dummy length='l' />
			</Container>
			<Center p='20' z='0'>Footer</Center>
		</Stack>
		<!-- <Stack isFullwide h='full' bgc='base-2' g='30'>
			<Container size='m' hasGutter isFlow my='auto'>
				<Text fw='bold' fz='xl'>Full Screen</Text>
				<Dummy length='xl' />
			</Container>
		</Stack> -->
		<Stack isFullwide hasGutter pos='r' minH='75vh' c='white' g='20'>
			<ShapeDivider
				viewBox='0 0 10 10'
				c='base-2'
				level='6'
				scale='-Y'
				offsetY='-0.5px'
				z='1'
			>
				<path d='M10,10V0L0,9.5V10L10,10z'></path>
			</ShapeDivider>
			<Frame isLayer>
				<Media isLayer src='/img/img-2.jpg' alt='' width='960' height='640' />
				<Layer blur='4px' bgc='black:50%' />
			</Frame>
			<Container size='m' isFlow py='40' my='auto' z='0'>
				<Text fw='bold' fz='xl'>ShapDivider & Layers</Text>
				<Dummy length='l' />
			</Container>
			<Box z='0' ta='c'>Footer</Box>
			<ShapeDivider viewBox='0 0 10 10' c='base' level='6' offsetY='0.5px' z='1'>
				<path d='M10,10V0L0,9.5V10L10,10z'></path>
			</ShapeDivider>
		</Stack>
		<Spacer h='2rem' />

		<Spacer h='60' />
		<hr />
		<Box hasGutter>
			<Spacer h='5rem' />
			<Dummy lh='s' mb='auto' length='l' />
			<Spacer h='3rem' />
		</Box>
		<!-- clamp = min:40px/400px, max:80px/1200px.  -->
		<Lism isFullwide style={{ '--slopeH': 'clamp(2.5rem, 1.25rem + 5vw, 5rem)' }}>
			<Stack isFullwide hasGutter pos='r' minH='50vh' c='white' g='20'>
				<ShapeDivider
					viewBox='0 0 10 10'
					h='var(--slopeH)'
					c='base'
					scale='-Y'
					offsetY='-0.5px'
					z='1'
				>
					<path d='M10,10V0L0,9.5V10L10,10z'></path>
				</ShapeDivider>
				<Frame isLayer bgc='black'>
					<Media
						isLayer
						src='/img/img-2.jpg'
						alt=''
						width='960'
						height='640'
						op='0.5'
						blur='6px'
					/>
				</Frame>
				<Container size='m' isFlow py='40' pr={['0', '25%', '33%']} my='auto' z='0'>
					<Text fw='bold' fz='xl'>ShapDivider & Layers</Text>
					<Dummy length='l' />
				</Container>
				<Spacer h='var(--slopeH)' />
			</Stack>
			<Stack
				isFullwide
				hasGutter
				pos='r'
				minH='50vh'
				c='white'
				mbs='calc(0px - var(--slopeH))'
			>
				<Frame
					isLayer
					bgc='black'
					style={{
						clipPath: 'polygon(0 var(--slopeH), 0 100%, 100% 100%, 100% 0)',
					}}
				>
					<Media
						src='/img/img-3.jpg'
						alt=''
						width='960'
						height='640'
						op='0.5'
						blur='6px'
					/>
				</Frame>
				<Spacer h='var(--slopeH)' />
				<Container size='m' isFlow py='40' pl={['0', '25%', '33%']} my='auto' z='0'>
					<Text fw='bold' fz='xl'>ShapDivider & Layers</Text>
					<Dummy length='l' />
				</Container>
				<ShapeDivider
					viewBox='0 0 10 10'
					h='var(--slopeH)'
					c='base'
					scale='-X'
					offsetY='0.5px'
					z='1'
				>
					<path d='M10,10V0L0,9.5V10L10,10z'></path>
				</ShapeDivider>
			</Stack>
		</Lism>
		<Box hasGutter>
			<Spacer h='3rem' />
			<Dummy lh='s' mb='auto' length='l' />
			<Spacer h='5rem' />
		</Box>
		<!-- <Spacer h='60' />
		<Spacer h='60' /> -->
	</Lism>
</DemoPageLayout>
